In [4]:
import pandas as pd

In [5]:
df1=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\amenities.csv")

In [6]:
df1

      unified_id;month;hot_tub;pool
0           AIR10052559;2022-12;1;0
1           AIR10178668;2022-12;0;0
2           AIR10211700;2022-12;0;0
3           AIR10344705;2022-12;0;0
4           AIR10424683;2022-12;0;1
...                             ...
49306        AIR9959855;2020-01;1;0
49307        AIR9960008;2020-01;0;0
49308        AIR9976790;2020-01;1;0
49309        AIR9986505;2020-01;1;0
49310        AIR9996370;2020-01;0;0

[49311 rows x 1 columns]

In [7]:
df2=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\geolocation.csv")

In [8]:
df2

                                                            unified_id;month;street_name;latitude;longitude
AIR10052559;2022-12;Heavenly Valley Road;34  23948;-116                                               87991
AIR10178668;2022-12;Round Drive;34           25095;-116                                               94139
AIR10211700;2022-12;;34                      24516;-116                                               87618
AIR10344705;2022-12;;34                      2675;-116                                                86089
AIR10424683;2022-12;Starvation Flats Road;34 25341;-116                                               88025
...                                                                                                     ...
AIR9959855;2020-01;Peregrine Avenue;34       23760869;-116                                          8700886
AIR9960008;2020-01;Waterview Drive;34        24621713;-116                                          9461685
AIR9976790;2020-01;Starvation Flats Road;34  25097351;-116                                          8804907
AIR9986505;2020-01;Rocking Chair Road;34     10087101;-116                                          2876788
AIR9996370;2020-01;Eagle Mountain Drive;34   26706673;-116                                          8611341

[49311 rows x 1 columns]

In [9]:
df3 = pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\market_analysis.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_13844\876302800.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df3 = pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\market_analysis.csv", sep='delimiter', header=None)

In [10]:
df3

                                                        0
0       unified_id;month;zipcode;city;host_type;bedroo...
1       10000347;2020-1;92315;Big Bear Lake;2-5 Units;...
2       10000347;2020-10;92315;Big Bear Lake;2-5 Units...
3       10000347;2020-11;92315;Big Bear Lake;2-5 Units...
4       10000347;2020-12;92315;Big Bear Lake;2-5 Units...
...                                                   ...
116615  9996370;2022-5;92314;Big Bear City;Single Owne...
116616  9996370;2022-6;92314;Big Bear City;Single Owne...
116617  9996370;2022-7;92314;Big Bear City;Single Owne...
116618  9996370;2022-8;92314;Big Bear City;Single Owne...
116619  9996370;2022-9;92314;Big Bear City;Single Owne...

[116620 rows x 1 columns]

In [11]:
type(df3)

pandas.core.frame.DataFrame

In [12]:
df3.columns

Index([0], dtype='int64')

In [13]:
df4=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\market_analysis_2019.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_13844\231953697.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df4=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\market_analysis_2019.csv", sep='delimiter', header=None)

In [14]:
df4

                                                       0
0      unified_id;month;zipcode;city;host_type;bedroo...
1      AIR10000347;2019-1;92315;Big Bear Lake;2-5 Uni...
2      AIR10000347;2019-10;92315;Big Bear Lake;2-5 Un...
3      AIR10000347;2019-11;92315;Big Bear Lake;2-5 Un...
4      AIR10000347;2019-12;92315;Big Bear Lake;2-5 Un...
...                                                  ...
29924  AIR9996370;2019-5;92314;Big Bear City;Single O...
29925  AIR9996370;2019-6;92314;Big Bear City;Single O...
29926  AIR9996370;2019-7;92314;Big Bear City;Single O...
29927  AIR9996370;2019-8;92314;Big Bear City;Single O...
29928  AIR9996370;2019-9;92314;Big Bear City;Single O...

[29929 rows x 1 columns]

In [15]:
df5=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_total_zipcode_92252.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_13844\2704827730.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df5=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_total_zipcode_92252.csv", sep='delimiter', header=None)

In [16]:
df6=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_total_zipcode_92284.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_13844\3685649608.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df6=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_total_zipcode_92284.csv", sep='delimiter', header=None)

In [17]:
df5

                                                    0
0   Url;Zestimate;Price;Rent Zestimate;Days On Zil...
1   https://www.zillow.com/homedetails/8198-Uphill...
2   https://www.zillow.com/homedetails/4757-Avenid...
3   https://www.zillow.com/homedetails/61018-Presc...
4   https://www.zillow.com/homedetails/61875-Anaco...
..                                                ...
69  https://www.zillow.com/homedetails/64873-Choll...
70  https://www.zillow.com/homedetails/62036-Bonai...
71  https://www.zillow.com/homedetails/7320-Sherwo...
72  https://www.zillow.com/homedetails/0-Sunfair-R...
73  https://www.zillow.com/homedetails/7160-Olympi...

[74 rows x 1 columns]

In [18]:
df6

                                                     0
0    Url;Zestimate;Price;Rent Zestimate;Days On Zil...
1    https://www.zillow.com/homedetails/58176-Deser...
2    https://www.zillow.com/homedetails/9025-Warren...
3    https://www.zillow.com/homedetails/57557-Sunny...
4    https://www.zillow.com/homedetails/56276-Breez...
..                                                 ...
113  https://www.zillow.com/homedetails/57055-Antel...
114  https://www.zillow.com/homedetails/7812-Condal...
115  https://www.zillow.com/homedetails/3832-Avalon...
116  https://www.zillow.com/homedetails/58713-Sun-V...
117  https://www.zillow.com/homedetails/5253-Puente...

[118 rows x 1 columns]

In [19]:
df6=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_total_zipcode_92314.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_13844\3096076451.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df6=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_total_zipcode_92314.csv", sep='delimiter', header=None)

In [20]:
df7=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_total_zipcode_92315.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_13844\2033750228.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df7=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_total_zipcode_92315.csv", sep='delimiter', header=None)

In [21]:
df7=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_with_pool_zipcode_92252.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_13844\495500197.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df7=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_with_pool_zipcode_92252.csv", sep='delimiter', header=None)

In [22]:
df7=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_with_pool_zipcode_92284.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_13844\670656805.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df7=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_with_pool_zipcode_92284.csv", sep='delimiter', header=None)

In [23]:
df85=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_with_pool_zipcode_92284.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_13844\502104160.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df85=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\sales_properties_with_pool_zipcode_92284.csv", sep='delimiter', header=None)

In [24]:
df7.shape

(16, 1)

In [25]:
df85

                                                    0
0   Url;Zestimate;Price;Rent Zestimate;Days On Zil...
1   https://www.zillow.com/homedetails/9025-Warren...
2   https://www.zillow.com/homedetails/7552-Cardil...
3   https://www.zillow.com/homedetails/8552-Taft-C...
4   https://www.zillow.com/homedetails/5088-Elata-...
5   https://www.zillow.com/homedetails/7478-Goleta...
6   https://www.zillow.com/homedetails/7629-Rockaw...
7   https://www.zillow.com/homedetails/7354-Rubido...
8   https://www.zillow.com/homedetails/7399-Paloma...
9   https://www.zillow.com/homedetails/8210-Church...
10  https://www.zillow.com/homedetails/55960-Onaga...
11  https://www.zillow.com/homedetails/58783-Santa...
12  https://www.zillow.com/homedetails/56763-Java-...
13  https://www.zillow.com/homedetails/56839-Bonan...
14  https://www.zillow.com/homedetails/7731-Arrowh...
15  https://www.zillow.com/homedetails/58345-Bonan...

In [26]:
df6.shape

(58, 1)

In [27]:
df5.shape

(74, 1)

In [28]:
df4.shape

(29929, 1)

In [29]:
df7

                                                    0
0   Url;Zestimate;Price;Rent Zestimate;Days On Zil...
1   https://www.zillow.com/homedetails/9025-Warren...
2   https://www.zillow.com/homedetails/7552-Cardil...
3   https://www.zillow.com/homedetails/8552-Taft-C...
4   https://www.zillow.com/homedetails/5088-Elata-...
5   https://www.zillow.com/homedetails/7478-Goleta...
6   https://www.zillow.com/homedetails/7629-Rockaw...
7   https://www.zillow.com/homedetails/7354-Rubido...
8   https://www.zillow.com/homedetails/7399-Paloma...
9   https://www.zillow.com/homedetails/8210-Church...
10  https://www.zillow.com/homedetails/55960-Onaga...
11  https://www.zillow.com/homedetails/58783-Santa...
12  https://www.zillow.com/homedetails/56763-Java-...
13  https://www.zillow.com/homedetails/56839-Bonan...
14  https://www.zillow.com/homedetails/7731-Arrowh...
15  https://www.zillow.com/homedetails/58345-Bonan...

In [30]:
df3[1]=df3[0].str.split(";").str[0]

In [31]:
df3[2]=df3[0].str.split(";").str[1]
df3[3]=df3[0].str.split(";").str[2]
df3[4]=df3[0].str.split(";").str[3]
df3[5]=df3[0].str.split(";").str[4]
df3[6]=df3[0].str.split(";").str[5]
df3[7]=df3[0].str.split(";").str[6]
df3[8]=df3[0].str.split(";").str[7]
df3[9]=df3[0].str.split(";").str[8]
df3[10]=df3[0].str.split(";").str[9]
df3[11]=df3[0].str.split(";").str[10]
df3[12]=df3[0].str.split(";").str[11]
df3[13]=df3[0].str.split(";").str[12]

In [32]:
df3[0].str.split(";").str[0]

0         unified_id
1           10000347
2           10000347
3           10000347
4           10000347
             ...
116615       9996370
116616       9996370
116617       9996370
116618       9996370
116619       9996370
Name: 0, Length: 116620, dtype: object

In [33]:
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,unified_id;month;zipcode;city;host_type;bedroo...,unified_id,month,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly rate,lead time
1,10000347;2020-1;92315;Big Bear Lake;2-5 Units;...,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9599915",31,"0,064516129","449,9799957",52
2,10000347;2020-10;92315;Big Bear Lake;2-5 Units...,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,13950,31,1,450,
3,10000347;2020-11;92315;Big Bear Lake;2-5 Units...,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,13500,30,1,450,
4,10000347;2020-12;92315;Big Bear Lake;2-5 Units...,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,13950,31,1,450,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116615,9996370;2022-5;92314;Big Bear City;Single Owne...,9996370,2022-5,92314,Big Bear City,Single Owners,3,1,8,0,31,0,,
116616,9996370;2022-6;92314;Big Bear City;Single Owne...,9996370,2022-6,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,
116617,9996370;2022-7;92314;Big Bear City;Single Owne...,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,"0,129032258","182,5","10,5"
116618,9996370;2022-8;92314;Big Bear City;Single Owne...,9996370,2022-8,92314,Big Bear City,Single Owners,3,1,8,0,31,0,,
116619,9996370;2022-9;92314;Big Bear City;Single Owne...,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,

In [34]:
df4[1]=df4[0].str.split(";").str[0]
df4[2]=df4[0].str.split(";").str[1]
df4[3]=df4[0].str.split(";").str[2]
df4[4]=df4[0].str.split(";").str[3]
df4[5]=df4[0].str.split(";").str[4]
df3[6]=df4[0].str.split(";").str[5]
df3[7]=df4[0].str.split(";").str[6]
df3[8]=df4[0].str.split(";").str[7]
df3[9]=df4[0].str.split(";").str[8]
df3[10]=df4[0].str.split(";").str[9]
df3[11]=df4[0].str.split(";").str[10]
df3[12]=df4[0].str.split(";").str[11]
df3[13]=df4[0].str.split(";").str[12]

In [35]:
df5[1]=df5[0].str.split(";").str[0]
df5[2]=df5[0].str.split(";").str[1]
df5[3]=df5[0].str.split(";").str[2]
df5[4]=df5[0].str.split(";").str[3]
df5[5]=df5[0].str.split(";").str[4]
df5[6]=df5[0].str.split(";").str[5]
df5[7]=df5[0].str.split(";").str[6]
df5[8]=df5[0].str.split(";").str[7]
df5[9]=df5[0].str.split(";").str[8]
df5[10]=df5[0].str.split(";").str[9]
df5[11]=df5[0].str.split(";").str[10]
df5[12]=df5[0].str.split(";").str[11]
df5[13]=df5[0].str.split(";").str[12]

In [36]:
df6[1]=df6[0].str.split(";").str[0]
df6[2]=df6[0].str.split(";").str[1]
df6[3]=df6[0].str.split(";").str[2]
df6[4]=df6[0].str.split(";").str[3]
df6[5]=df6[0].str.split(";").str[4]
df6[6]=df6[0].str.split(";").str[5]
df6[7]=df6[0].str.split(";").str[6]
df6[8]=df6[0].str.split(";").str[7]
df6[9]=df6[0].str.split(";").str[8]
df6[10]=df6[0].str.split(";").str[9]
df6[11]=df6[0].str.split(";").str[10]
df6[12]=df6[0].str.split(";").str[11]
df6[13]=df6[0].str.split(";").str[12]

In [37]:
df7[1]=df7[0].str.split(";").str[0]
df7[2]=df7[0].str.split(";").str[1]
df7[3]=df7[0].str.split(";").str[2]
df7[4]=df7[0].str.split(";").str[3]
df7[5]=df7[0].str.split(";").str[4]
df7[6]=df7[0].str.split(";").str[5]
df7[7]=df7[0].str.split(";").str[6]
df7[8]=df7[0].str.split(";").str[7]
df7[9]=df7[0].str.split(";").str[8]
df7[10]=df7[0].str.split(";").str[9]
df7[11]=df7[0].str.split(";").str[10]
df7[12]=df7[0].str.split(";").str[11]
df7[13]=df7[0].str.split(";").str[12]

In [38]:
df3.isnull().sum()

0         0
1         0
2         0
3         0
4         0
5         0
6     86691
7     86691
8     86691
9     86691
10    86691
11    86691
12    86691
13    86691
dtype: int64

In [39]:
df3.shape

(116620, 14)

In [40]:
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,unified_id;month;zipcode;city;host_type;bedroo...,unified_id,month,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly rate,lead time
1,10000347;2020-1;92315;Big Bear Lake;2-5 Units;...,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"13948,75974",31,1,"449,9599915",8
2,10000347;2020-10;92315;Big Bear Lake;2-5 Units...,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,"449,9599915",31,"0,032258065","449,9599915",8
3,10000347;2020-11;92315;Big Bear Lake;2-5 Units...,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,0,30,0,,
4,10000347;2020-12;92315;Big Bear Lake;2-5 Units...,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,"4949,679932",31,"0,35483871","449,9709029",41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116615,9996370;2022-5;92314;Big Bear City;Single Owne...,9996370,2022-5,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116616,9996370;2022-6;92314;Big Bear City;Single Owne...,9996370,2022-6,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116617,9996370;2022-7;92314;Big Bear City;Single Owne...,9996370,2022-7,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116618,9996370;2022-8;92314;Big Bear City;Single Owne...,9996370,2022-8,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116619,9996370;2022-9;92314;Big Bear City;Single Owne...,9996370,2022-9,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df3.drop(0,axis=1,inplace=True)
df4.drop(0,axis=1,inplace=True)
df5.drop(0,axis=1,inplace=True)
df6.drop(0,axis=1,inplace=True)
df7.drop(0,axis=1,inplace=True)

In [42]:
df3

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,unified_id,month,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly rate,lead time
1,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"13948,75974",31,1,"449,9599915",8
2,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,"449,9599915",31,"0,032258065","449,9599915",8
3,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,0,30,0,,
4,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,"4949,679932",31,"0,35483871","449,9709029",41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116615,9996370,2022-5,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116616,9996370,2022-6,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116617,9996370,2022-7,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116618,9996370,2022-8,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116619,9996370,2022-9,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df4.drop(0,axis=0,inplace=True)

In [44]:
df5.drop(0,axis=0,inplace=True)
df6.drop(0,axis=0,inplace=True)
df7.drop(0,axis=0,inplace=True)

In [45]:
df3

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,unified_id,month,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly rate,lead time
1,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"13948,75974",31,1,"449,9599915",8
2,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,"449,9599915",31,"0,032258065","449,9599915",8
3,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,0,30,0,,
4,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,"4949,679932",31,"0,35483871","449,9709029",41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116615,9996370,2022-5,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116616,9996370,2022-6,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116617,9996370,2022-7,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116618,9996370,2022-8,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116619,9996370,2022-9,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df3.columns = df3.iloc[0]
df3 = df3.iloc[1:].reset_index(drop=True)
print(df3)

0      unified_id    month zipcode           city      host_type bedrooms  \
0        10000347   2020-1   92315  Big Bear Lake      2-5 Units        3
1        10000347  2020-10   92315  Big Bear Lake      2-5 Units        3
2        10000347  2020-11   92315  Big Bear Lake      2-5 Units        3
3        10000347  2020-12   92315  Big Bear Lake      2-5 Units        3
4        10000347   2020-2   92315  Big Bear Lake      2-5 Units        3
...           ...      ...     ...            ...            ...      ...
116614    9996370   2022-5   92314  Big Bear City  Single Owners      NaN
116615    9996370   2022-6   92314  Big Bear City  Single Owners      NaN
116616    9996370   2022-7   92314  Big Bear City  Single Owners      NaN
116617    9996370   2022-8   92314  Big Bear City  Single Owners      NaN
116618    9996370   2022-9   92314  Big Bear City  Single Owners      NaN

0      bathrooms guests      revenue openness    occupancy nightly rate  \
0              2     10  13948,75974       31            1  449,9599915
1              2     10  449,9599915       31  0,032258065  449,9599915
2              2     10            0       30            0
3              2     10  4949,679932       31   0,35483871  449,9709029
4              2     10            0       28            0
...          ...    ...          ...      ...          ...          ...
116614       NaN    NaN          NaN      NaN          NaN          NaN
116615       NaN    NaN          NaN      NaN          NaN          NaN
116616       NaN    NaN          NaN      NaN          NaN          NaN
116617       NaN    NaN          NaN      NaN          NaN          NaN
116618       NaN    NaN          NaN      NaN          NaN          NaN

0      lead time
0              8
1              8
2
3             41
4
...          ...
116614       NaN
116615       NaN
116616       NaN
116617       NaN
116618       NaN

[116619 rows x 13 columns]

In [47]:
df3.columns = df3.iloc[0]
df3 = df3.iloc[1:].reset_index(drop=True)

In [48]:
df3

,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"13948,75974",31,1,"449,9599915",8
0,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,"449,9599915",31,"0,032258065","449,9599915",8
1,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,0,30,0,,
2,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,"4949,679932",31,"0,35483871","449,9709029",41
3,10000347,2020-2,92315,Big Bear Lake,2-5 Units,3,2,10,0,28,0,,
4,10000347,2020-3,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9199829",31,"0,064516129","449,9599915",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116613,9996370,2022-5,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116614,9996370,2022-6,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116615,9996370,2022-7,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116616,9996370,2022-8,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116617,9996370,2022-9,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df4

                 1        2      3              4              5
1      AIR10000347   2019-1  92315  Big Bear Lake      2-5 Units
2      AIR10000347  2019-10  92315  Big Bear Lake      2-5 Units
3      AIR10000347  2019-11  92315  Big Bear Lake      2-5 Units
4      AIR10000347  2019-12  92315  Big Bear Lake      2-5 Units
5      AIR10000347   2019-2  92315  Big Bear Lake      2-5 Units
...            ...      ...    ...            ...            ...
29924   AIR9996370   2019-5  92314  Big Bear City  Single Owners
29925   AIR9996370   2019-6  92314  Big Bear City  Single Owners
29926   AIR9996370   2019-7  92314  Big Bear City  Single Owners
29927   AIR9996370   2019-8  92314  Big Bear City  Single Owners
29928   AIR9996370   2019-9  92314  Big Bear City  Single Owners

[29928 rows x 5 columns]

In [50]:
df6

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/316-Maple-R...,614000,670000,3750,Not specified,3,3,2122,,SINGLE_FAMILY,316 Maple Ridge Dr,Big Bear City,92314
2,https://www.zillow.com/homedetails/1113-Michae...,533300,649000,2999,Not specified,3,4,1975,,SINGLE_FAMILY,1113 Michael Ave,Big Bear City,92314
3,https://www.zillow.com/homedetails/919-Robinho...,470600,539000,2300,Not specified,2,3,1185,,SINGLE_FAMILY,919 Robinhood Blvd,Big Bear City,92314
4,https://www.zillow.com/homedetails/824-Raleigh...,632272,650000,2990,Not specified,2,3,1686,,SINGLE_FAMILY,824 Raleigh Dr,Big Bear City,92314
5,https://www.zillow.com/homedetails/1000-Willow...,575001,575000,2996,Not specified,2,3,1850,,SINGLE_FAMILY,1000 Willow Ln,Big Bear City,92314
6,https://www.zillow.com/homedetails/913-Mount-D...,,479900,2808,Not specified,2,3,1456,,SINGLE_FAMILY,913 Mount Doble Dr,Big Bear City,92314
7,https://www.zillow.com/homedetails/281-Pine-Ln...,525000,525000,3499,Not specified,3,3,1954,,SINGLE_FAMILY,281 Pine Ln,Big Bear City,92314
8,https://www.zillow.com/homedetails/701-Villa-G...,599000,599000,2999,Not specified,2,4,1443,,SINGLE_FAMILY,701 Villa Grove Ave,Big Bear City,92314
9,https://www.zillow.com/homedetails/352-Lookout...,1070564,1125000,4805,Not specified,5,4,3752,,SINGLE_FAMILY,352 Lookout Dr,Big Bear City,92314
10,https://www.zillow.com/homedetails/1526-Monte-...,418057,419000,2728,Not specified,2,3,1428,,SINGLE_FAMILY,1526 Monte Vista Dr,Big Bear City,92314
11,https://www.zillow.com/homedetails/1281-Minton...,498800,499000,2600,Not specified,2,3,1128,,SINGLE_FAMILY,1281 Minton Dr,Big Bear City,92314
12,https://www.zillow.com/homedetails/1635-Shenan...,1436140,1535000,,Not specified,4,3,2936,,SINGLE_FAMILY,1635 Shenandoah Way,Big Bear City,92314
13,https://www.zillow.com/homedetails/1130-Rocky-...,939300,965000,,Not specified,2,3,2425,,SINGLE_FAMILY,1130 Rocky Mountain Rd,Big Bear City,92314
14,https://www.zillow.com/homedetails/277-Greensp...,498900,499000,2699,Not specified,3,3,1344,,SINGLE_FAMILY,277 Greenspot Blvd,Big Bear City,92314
15,https://www.zillow.com/homedetails/305-Lookout...,876523,900000,4500,Not specified,2,3,2758,,SINGLE_FAMILY,305 Lookout Dr,Big Bear City,92314
16,https://www.zillow.com/homedetails/329-E-Sherw...,490500,630000,2999,Not specified,2,3,1689,,SINGLE_FAMILY,329 E Sherwood Blvd,Big Bear City,92314
17,https://www.zillow.com/homedetails/369-Greensp...,464900,380000,,Not specified,2,3,1322,,SINGLE_FAMILY,369 Greenspot Blvd,Big Bear City,92314
18,https://www.zillow.com/homedetails/1009-Herita...,963217,1010000,4113,Not specified,2,4,2334,,SINGLE_FAMILY,1009 Heritage Trl,Big Bear City,92314
19,https://www.zillow.com/homedetails/1194-Alamed...,,1100000,,Not specified,3,4,2421,,SINGLE_FAMILY,1194 Alameda Ct,Big Bear City,92314
20,https://www.zillow.com/homedetails/1658-Tuolum...,1799652,1900000,1950,Not specified,6,5,4400,,SINGLE_FAMILY,1658 Tuolumne Rd,Big Bear City,92314
21,https://www.zillow.com/homedetails/1242-Panora...,637891,655000,3696,Not specified,3,3,2111,,SINGLE_FAMILY,1242 Panorama Dr,Big Bear City,92314
22,https://www.zillow.com/homedetails/46125-Vale-...,851800,950000,3658,Not specified,3,5,3108,,SINGLE_FAMILY,46125 Vale Dr,Big Bear City,92314
23,https://www.zillow.com/homedetails/764-Panamin...,537945,549900,2999,Not specified,3,4,1636,,SINGLE_FAMILY,764 Panamint Mountain Dr,Big Bear City,92314
24,https://www.zillow.com/homedetails/1048-Hemloc...,634900,649000,3127,Not specified,3,4,1974,,SINGLE_FAMILY,1048 Hemlock Ln,Big Bear City,92314
25,https://www.zillow.com/homedetails/1842-Baldwi...,493900,495000,3069,Not specified,3,3,1807,,SINGLE_FAMILY,1842 Baldwin Lake Rd,Big Bear City,92314
26,https://www.zillow.com/homedetails/1185-Mitche...,936576,960000,4800,Not specified,3,4,3415,,SINGLE_FAMILY,1185 Mitchell Ln,Big Bear City,92314
27,https://www.zillow.com/homedetails/666-Butte-A...,804600,824888,3073,Not specified,3,4,2012,,SINGLE_FAMILY,666 Butte Ave,Big Bear City,92314
28,https://www.zillow.com/homedetails/1526-Malaba...,376000,409000,2228,Not specified,1,3,1188,,SINGLE_FAMILY,1526 Malabar Way,Big Bear City,92314
29,https://www.zillow.com/homedetails/929-Myrtle-...,684700,697000,3421,Not specified,3,4,1945,,SINGLE_FAMILY,929 Myrtle Ave,Big Bear City,92314
30,https://www.zillow.com/homedetails/2149-1st-Ln...,289000,289000,2028,Not specified,2,3,903,,SINGLE_FAMILY,2149 1st Ln,Big Bear City,92314
31,https://www.zillow.com/homedetails/1416-Klamat...,677600,699900,2999,Not specified,2,3,1600,,SINGLE_FAMILY,1416 Klamath Rd,Big Bear City,92314
32,https://www.zillow.com/homedetails/46647-Arast...,1171624,1275000,4886,Not specified,4,4,4575,,SINGLE_FAMILY,46647 Arastre Rd,Big Bear City,92314
33,https://www.zillow.com/homedetails/1020-Whispe...,770873,794000,3406,Not specified,3,3,1973,,SINGLE_FAMILY,1020 Whispering Forest Dr,Big Bear City,92314
34,https://www.zillow.com/homedetails/46895-Estac...,815376,849900,4500,Not specified,3,3,2698,,SINGLE_FAMILY,46895 Estacia Rd,Big Bear City,92314
35,https://www.zillow.com/homedetails/1125-W-Big-...,933153,949000,4320,Not specified,4,4,2062,,SINGLE_FAMILY,1125 W Big Bear Blvd,Big Bear City,92314
36,https://www.zillow.com/homedetails/1027-Herita...,1804200,2289000,7545,Not specified,10,6,6534,,SINGLE_FAMILY,1027 Heritage Trl,Big Bear City,92314
37,https://www.zillow.com/homedetails/109-Palomin...,1166674,1250000,4187,Not specified,4,4,3894,,SINGLE_FAMILY,109 Palomino Dr,Big Bear City,92314
38,https://www.zillow.com/homedetails/1331-La-Cre...,631276,645000,2999,Not specified,3,3,1829,,SINGLE_FAMILY,1331 La Crescenta Dr,Big Bear City,92314
39,https://www.zillow.com/homedetails/160-Yosemit...,1044000,1100000,4411,Not specified,3,4,3478,,SINGLE_FAMILY,160 Yosemite Dr,Big Bear City,92314
40,https://www.zillow.com/homedetails/449-E-Barke...,531951,550000,2350,Not specified,2,3,1214,,SINGLE_FAMILY,449 E Barker Blvd,Big Bear City,92314
41,https://www.zillow.com/homedetails/1037-Van-Du...,,599000,,Not specified,2,3,1800,,SINGLE_FAMILY,1037 Van Dusen Canyon Rd,Big Bear City,92314
42,https://www.zillow.com/homedetails/42539-Bear-...,1132327,1226688,5114,Not specified,5,5,3626,,SINGLE_FAMILY,42539 Bear Loop,Big Bear City,92314
43,https://www.zillow.com/homedetails/1112-Cedar-...,711600,725000,3349,Not specified,3,4,2830,,SINGLE_FAMILY,1112 Cedar Mountain Rd,Big Bear City,92314
44,https://www.zillow.com/homedetails/1033-Herita...,1771560,1950000,7723,Not specified,5,5,4188,,SINGLE_FAMILY,1033 Heritage Trl,Big Bear City,92314
45,https://www.zillow.com/homedetails/2047-7th-Ln...,323300,349000,,Not specified,1,3,840,,SINGLE_FAMILY,2047 7th Ln,Big Bear City,92314
46,https://www.zillow.com/homedetails/2111-7th-Ln...,768356,799000,3196,Not specified,2,3,2304,,SINGLE_FAMILY,2111 7th Ln,Big Bear City,92314
47,https://www.zillow.com/homedetails/1690-Cascad...,1081411,1149000,4641,Not specified,4,3,2803,,SINGLE_FAMILY,1690 Cascade Rd,Big Bear City,92314
48,https://www.zillow.com/homedetails/46242-Curva...,711219,729000,3634,Not specified,3,4,2768,,SINGLE_FAMILY,46242 Curvate Dr,Big Bear City,92314
49,https://www.zillow.com/homedetails/1150-Valley...,624781,634000,3399,Not specified,2,3,2264,,SINGLE_FAMILY,1150 Valley View Dr,Big Bear City,92314
50,https://www.zillow.com/homedetails/350-Brewer-...,640491,659900,3858,Not specified,3,5,2208,,SINGLE_FAMILY,350 Brewer Way,Big Bear City,92314
51,https://www.zillow.com/homedetails/1640-Shenan...,1918200,2099999,9797,Not specified,5,6,4668,,SINGLE_FAMILY,1640 Shenandoah Way,Big Bear City,92314
52,https://www.zillow.com/homedetails/236-Greensp...,,549900,,Not specified,2,3,1440,,SINGLE_FAMILY,236 Greenspot Blvd,Big Bear City,92314
53,https://www.zillow.com/homedetails/998-Feather...,991400,1050000,4214,Not specified,6,8,6200,,SINGLE_FAMILY,998 Feather Mountain Dr,Big Bear City,92314
54,https://www.zillow.com/homedetails/433-Eton-Ln...,724838,749000,3298,Not specified,3,3,1716,,SINGLE_FAMILY,433 Eton Ln,Big Bear City,92314
55,https://www.zillow.com/homedetails/400-San-Mar...,445500,449500,2484,Not specified,2,3,1326,,SINGLE_FAMILY,400 San Martin St,Big Bear City,92314
56,https://www.zillow.com/homedetails/912-Bear-Mo...,535400,624900,2778,Not specified,2,3,1420,,SINGLE_FAMILY,912 Bear Mountain Rd,Big Bear City,92314
57,https://www.zillow.com/homedetails/512-Bernhar...,634900,699900,3206,Not specified,2,3,1832,,SINGLE_FAMILY,512 Bernhardt Ln,Big Bear City,92314

In [51]:
df5

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/8198-Uphill...,,18000000,2435,Not specified,4,3,5470,,SINGLE_FAMILY,8198 Uphill Rd,Joshua Tree,92252
2,https://www.zillow.com/homedetails/4757-Avenid...,223200,399990,1786,Not specified,2,3,1056,,SINGLE_FAMILY,4757 Avenida La Espana Daga,Joshua Tree,92252
3,https://www.zillow.com/homedetails/61018-Presc...,568947,575000,2300,Not specified,2,3,1577,,SINGLE_FAMILY,61018 Prescott Trl,Joshua Tree,92252
4,https://www.zillow.com/homedetails/61875-Anaco...,851656,899000,4798,Not specified,2,3,1434,,SINGLE_FAMILY,61875 Anaconda Dr,Joshua Tree,92252
5,https://www.zillow.com/homedetails/61879-Petun...,,369900,1825,Not specified,1,3,1040,,SINGLE_FAMILY,61879 Petunia Dr,Joshua Tree,92252
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,https://www.zillow.com/homedetails/64873-Choll...,331900,399995,1853,Not specified,1,3,1080,,SINGLE_FAMILY,64873 Chollita Rd,Joshua Tree,92252
70,https://www.zillow.com/homedetails/62036-Bonai...,400438,413000,2400,Not specified,2,3,1386,,SINGLE_FAMILY,62036 Bonair Rd,Joshua Tree,92252
71,https://www.zillow.com/homedetails/7320-Sherwo...,850155,879000,2398,Not specified,2,3,1700,,SINGLE_FAMILY,7320 Sherwood Rd,Joshua Tree,92252
72,https://www.zillow.com/homedetails/0-Sunfair-R...,,1800000,3499,Not specified,4,4,2200,,SINGLE_FAMILY,0 Sunfair Rd,Joshua Tree,92252
73,https://www.zillow.com/homedetails/7160-Olympi...,,850000,4500,Not specified,3,4,2600,,SINGLE_FAMILY,7160 Olympic Rd,Joshua Tree,92252

In [52]:
df7

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/9025-Warren...,890416,949000,3058,Not specified,4,4,3542,,SINGLE_FAMILY,9025 Warren Vista Ave,Yucca Valley,92284
2,https://www.zillow.com/homedetails/7552-Cardil...,543600,749000,2922,Not specified,3,3,1678,,SINGLE_FAMILY,7552 Cardillo Trl,Yucca Valley,92284
3,https://www.zillow.com/homedetails/8552-Taft-C...,467500,530000,2710,Not specified,3,3,2134,,SINGLE_FAMILY,8552 Taft Ct,Yucca Valley,92284
4,https://www.zillow.com/homedetails/5088-Elata-...,684150,699000,3034,Not specified,3,3,1929,,SINGLE_FAMILY,5088 Elata Ave,Yucca Valley,92284
5,https://www.zillow.com/homedetails/7478-Goleta...,525004,525000,2199,Not specified,2,3,1508,,SINGLE_FAMILY,7478 Goleta Ave,Yucca Valley,92284
6,https://www.zillow.com/homedetails/7629-Rockaw...,764822,775000,3539,Not specified,2,3,2235,,SINGLE_FAMILY,7629 Rockaway Ave,Yucca Valley,92284
7,https://www.zillow.com/homedetails/7354-Rubido...,880671,900000,2400,Not specified,2,3,1764,,SINGLE_FAMILY,7354 Rubidoux Ave,Yucca Valley,92284
8,https://www.zillow.com/homedetails/7399-Paloma...,478372,489900,2350,Not specified,2,3,1530,,SINGLE_FAMILY,7399 Palomar Ave,Yucca Valley,92284
9,https://www.zillow.com/homedetails/8210-Church...,418600,479000,2907,Not specified,2,4,1820,,SINGLE_FAMILY,8210 Church St,Yucca Valley,92284
10,https://www.zillow.com/homedetails/55960-Onaga...,277830,285000,1829,Not specified,1,3,750,,SINGLE_FAMILY,55960 Onaga Trl,Yucca Valley,92284
11,https://www.zillow.com/homedetails/58783-Santa...,674473,699000,3240,Not specified,2,3,2809,,SINGLE_FAMILY,58783 Santa Barbara Dr,Yucca Valley,92284
12,https://www.zillow.com/homedetails/56763-Java-...,489600,489600,2362,Not specified,2,3,1534,,SINGLE_FAMILY,56763 Java Dr,Yucca Valley,92284
13,https://www.zillow.com/homedetails/56839-Bonan...,374800,545000,4217,Not specified,5,5,2877,,SINGLE_FAMILY,56839 Bonanza Dr,Yucca Valley,92284
14,https://www.zillow.com/homedetails/7731-Arrowh...,1076582,1100000,3410,Not specified,2,3,2076,,SINGLE_FAMILY,7731 Arrowhead Dr,Yucca Valley,92284
15,https://www.zillow.com/homedetails/58345-Bonan...,478884,499950,3204,Not specified,3,4,2363,,SINGLE_FAMILY,58345 Bonanza Dr,Yucca Valley,92284

In [53]:
# df5.drop(1,axis=1,inplace=True)
# df6.drop(1,axis=1,inplace=True)
# df7.drop(1,axis=1,inplace=True)

In [54]:
df5

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/8198-Uphill...,,18000000,2435,Not specified,4,3,5470,,SINGLE_FAMILY,8198 Uphill Rd,Joshua Tree,92252
2,https://www.zillow.com/homedetails/4757-Avenid...,223200,399990,1786,Not specified,2,3,1056,,SINGLE_FAMILY,4757 Avenida La Espana Daga,Joshua Tree,92252
3,https://www.zillow.com/homedetails/61018-Presc...,568947,575000,2300,Not specified,2,3,1577,,SINGLE_FAMILY,61018 Prescott Trl,Joshua Tree,92252
4,https://www.zillow.com/homedetails/61875-Anaco...,851656,899000,4798,Not specified,2,3,1434,,SINGLE_FAMILY,61875 Anaconda Dr,Joshua Tree,92252
5,https://www.zillow.com/homedetails/61879-Petun...,,369900,1825,Not specified,1,3,1040,,SINGLE_FAMILY,61879 Petunia Dr,Joshua Tree,92252
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,https://www.zillow.com/homedetails/64873-Choll...,331900,399995,1853,Not specified,1,3,1080,,SINGLE_FAMILY,64873 Chollita Rd,Joshua Tree,92252
70,https://www.zillow.com/homedetails/62036-Bonai...,400438,413000,2400,Not specified,2,3,1386,,SINGLE_FAMILY,62036 Bonair Rd,Joshua Tree,92252
71,https://www.zillow.com/homedetails/7320-Sherwo...,850155,879000,2398,Not specified,2,3,1700,,SINGLE_FAMILY,7320 Sherwood Rd,Joshua Tree,92252
72,https://www.zillow.com/homedetails/0-Sunfair-R...,,1800000,3499,Not specified,4,4,2200,,SINGLE_FAMILY,0 Sunfair Rd,Joshua Tree,92252
73,https://www.zillow.com/homedetails/7160-Olympi...,,850000,4500,Not specified,3,4,2600,,SINGLE_FAMILY,7160 Olympic Rd,Joshua Tree,92252

In [55]:
df4

                 1        2      3              4              5
1      AIR10000347   2019-1  92315  Big Bear Lake      2-5 Units
2      AIR10000347  2019-10  92315  Big Bear Lake      2-5 Units
3      AIR10000347  2019-11  92315  Big Bear Lake      2-5 Units
4      AIR10000347  2019-12  92315  Big Bear Lake      2-5 Units
5      AIR10000347   2019-2  92315  Big Bear Lake      2-5 Units
...            ...      ...    ...            ...            ...
29924   AIR9996370   2019-5  92314  Big Bear City  Single Owners
29925   AIR9996370   2019-6  92314  Big Bear City  Single Owners
29926   AIR9996370   2019-7  92314  Big Bear City  Single Owners
29927   AIR9996370   2019-8  92314  Big Bear City  Single Owners
29928   AIR9996370   2019-9  92314  Big Bear City  Single Owners

[29928 rows x 5 columns]

In [56]:
df6

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/316-Maple-R...,614000,670000,3750,Not specified,3,3,2122,,SINGLE_FAMILY,316 Maple Ridge Dr,Big Bear City,92314
2,https://www.zillow.com/homedetails/1113-Michae...,533300,649000,2999,Not specified,3,4,1975,,SINGLE_FAMILY,1113 Michael Ave,Big Bear City,92314
3,https://www.zillow.com/homedetails/919-Robinho...,470600,539000,2300,Not specified,2,3,1185,,SINGLE_FAMILY,919 Robinhood Blvd,Big Bear City,92314
4,https://www.zillow.com/homedetails/824-Raleigh...,632272,650000,2990,Not specified,2,3,1686,,SINGLE_FAMILY,824 Raleigh Dr,Big Bear City,92314
5,https://www.zillow.com/homedetails/1000-Willow...,575001,575000,2996,Not specified,2,3,1850,,SINGLE_FAMILY,1000 Willow Ln,Big Bear City,92314
6,https://www.zillow.com/homedetails/913-Mount-D...,,479900,2808,Not specified,2,3,1456,,SINGLE_FAMILY,913 Mount Doble Dr,Big Bear City,92314
7,https://www.zillow.com/homedetails/281-Pine-Ln...,525000,525000,3499,Not specified,3,3,1954,,SINGLE_FAMILY,281 Pine Ln,Big Bear City,92314
8,https://www.zillow.com/homedetails/701-Villa-G...,599000,599000,2999,Not specified,2,4,1443,,SINGLE_FAMILY,701 Villa Grove Ave,Big Bear City,92314
9,https://www.zillow.com/homedetails/352-Lookout...,1070564,1125000,4805,Not specified,5,4,3752,,SINGLE_FAMILY,352 Lookout Dr,Big Bear City,92314
10,https://www.zillow.com/homedetails/1526-Monte-...,418057,419000,2728,Not specified,2,3,1428,,SINGLE_FAMILY,1526 Monte Vista Dr,Big Bear City,92314
11,https://www.zillow.com/homedetails/1281-Minton...,498800,499000,2600,Not specified,2,3,1128,,SINGLE_FAMILY,1281 Minton Dr,Big Bear City,92314
12,https://www.zillow.com/homedetails/1635-Shenan...,1436140,1535000,,Not specified,4,3,2936,,SINGLE_FAMILY,1635 Shenandoah Way,Big Bear City,92314
13,https://www.zillow.com/homedetails/1130-Rocky-...,939300,965000,,Not specified,2,3,2425,,SINGLE_FAMILY,1130 Rocky Mountain Rd,Big Bear City,92314
14,https://www.zillow.com/homedetails/277-Greensp...,498900,499000,2699,Not specified,3,3,1344,,SINGLE_FAMILY,277 Greenspot Blvd,Big Bear City,92314
15,https://www.zillow.com/homedetails/305-Lookout...,876523,900000,4500,Not specified,2,3,2758,,SINGLE_FAMILY,305 Lookout Dr,Big Bear City,92314
16,https://www.zillow.com/homedetails/329-E-Sherw...,490500,630000,2999,Not specified,2,3,1689,,SINGLE_FAMILY,329 E Sherwood Blvd,Big Bear City,92314
17,https://www.zillow.com/homedetails/369-Greensp...,464900,380000,,Not specified,2,3,1322,,SINGLE_FAMILY,369 Greenspot Blvd,Big Bear City,92314
18,https://www.zillow.com/homedetails/1009-Herita...,963217,1010000,4113,Not specified,2,4,2334,,SINGLE_FAMILY,1009 Heritage Trl,Big Bear City,92314
19,https://www.zillow.com/homedetails/1194-Alamed...,,1100000,,Not specified,3,4,2421,,SINGLE_FAMILY,1194 Alameda Ct,Big Bear City,92314
20,https://www.zillow.com/homedetails/1658-Tuolum...,1799652,1900000,1950,Not specified,6,5,4400,,SINGLE_FAMILY,1658 Tuolumne Rd,Big Bear City,92314
21,https://www.zillow.com/homedetails/1242-Panora...,637891,655000,3696,Not specified,3,3,2111,,SINGLE_FAMILY,1242 Panorama Dr,Big Bear City,92314
22,https://www.zillow.com/homedetails/46125-Vale-...,851800,950000,3658,Not specified,3,5,3108,,SINGLE_FAMILY,46125 Vale Dr,Big Bear City,92314
23,https://www.zillow.com/homedetails/764-Panamin...,537945,549900,2999,Not specified,3,4,1636,,SINGLE_FAMILY,764 Panamint Mountain Dr,Big Bear City,92314
24,https://www.zillow.com/homedetails/1048-Hemloc...,634900,649000,3127,Not specified,3,4,1974,,SINGLE_FAMILY,1048 Hemlock Ln,Big Bear City,92314
25,https://www.zillow.com/homedetails/1842-Baldwi...,493900,495000,3069,Not specified,3,3,1807,,SINGLE_FAMILY,1842 Baldwin Lake Rd,Big Bear City,92314
26,https://www.zillow.com/homedetails/1185-Mitche...,936576,960000,4800,Not specified,3,4,3415,,SINGLE_FAMILY,1185 Mitchell Ln,Big Bear City,92314
27,https://www.zillow.com/homedetails/666-Butte-A...,804600,824888,3073,Not specified,3,4,2012,,SINGLE_FAMILY,666 Butte Ave,Big Bear City,92314
28,https://www.zillow.com/homedetails/1526-Malaba...,376000,409000,2228,Not specified,1,3,1188,,SINGLE_FAMILY,1526 Malabar Way,Big Bear City,92314
29,https://www.zillow.com/homedetails/929-Myrtle-...,684700,697000,3421,Not specified,3,4,1945,,SINGLE_FAMILY,929 Myrtle Ave,Big Bear City,92314
30,https://www.zillow.com/homedetails/2149-1st-Ln...,289000,289000,2028,Not specified,2,3,903,,SINGLE_FAMILY,2149 1st Ln,Big Bear City,92314
31,https://www.zillow.com/homedetails/1416-Klamat...,677600,699900,2999,Not specified,2,3,1600,,SINGLE_FAMILY,1416 Klamath Rd,Big Bear City,92314
32,https://www.zillow.com/homedetails/46647-Arast...,1171624,1275000,4886,Not specified,4,4,4575,,SINGLE_FAMILY,46647 Arastre Rd,Big Bear City,92314
33,https://www.zillow.com/homedetails/1020-Whispe...,770873,794000,3406,Not specified,3,3,1973,,SINGLE_FAMILY,1020 Whispering Forest Dr,Big Bear City,92314
34,https://www.zillow.com/homedetails/46895-Estac...,815376,849900,4500,Not specified,3,3,2698,,SINGLE_FAMILY,46895 Estacia Rd,Big Bear City,92314
35,https://www.zillow.com/homedetails/1125-W-Big-...,933153,949000,4320,Not specified,4,4,2062,,SINGLE_FAMILY,1125 W Big Bear Blvd,Big Bear City,92314
36,https://www.zillow.com/homedetails/1027-Herita...,1804200,2289000,7545,Not specified,10,6,6534,,SINGLE_FAMILY,1027 Heritage Trl,Big Bear City,92314
37,https://www.zillow.com/homedetails/109-Palomin...,1166674,1250000,4187,Not specified,4,4,3894,,SINGLE_FAMILY,109 Palomino Dr,Big Bear City,92314
38,https://www.zillow.com/homedetails/1331-La-Cre...,631276,645000,2999,Not specified,3,3,1829,,SINGLE_FAMILY,1331 La Crescenta Dr,Big Bear City,92314
39,https://www.zillow.com/homedetails/160-Yosemit...,1044000,1100000,4411,Not specified,3,4,3478,,SINGLE_FAMILY,160 Yosemite Dr,Big Bear City,92314
40,https://www.zillow.com/homedetails/449-E-Barke...,531951,550000,2350,Not specified,2,3,1214,,SINGLE_FAMILY,449 E Barker Blvd,Big Bear City,92314
41,https://www.zillow.com/homedetails/1037-Van-Du...,,599000,,Not specified,2,3,1800,,SINGLE_FAMILY,1037 Van Dusen Canyon Rd,Big Bear City,92314
42,https://www.zillow.com/homedetails/42539-Bear-...,1132327,1226688,5114,Not specified,5,5,3626,,SINGLE_FAMILY,42539 Bear Loop,Big Bear City,92314
43,https://www.zillow.com/homedetails/1112-Cedar-...,711600,725000,3349,Not specified,3,4,2830,,SINGLE_FAMILY,1112 Cedar Mountain Rd,Big Bear City,92314
44,https://www.zillow.com/homedetails/1033-Herita...,1771560,1950000,7723,Not specified,5,5,4188,,SINGLE_FAMILY,1033 Heritage Trl,Big Bear City,92314
45,https://www.zillow.com/homedetails/2047-7th-Ln...,323300,349000,,Not specified,1,3,840,,SINGLE_FAMILY,2047 7th Ln,Big Bear City,92314
46,https://www.zillow.com/homedetails/2111-7th-Ln...,768356,799000,3196,Not specified,2,3,2304,,SINGLE_FAMILY,2111 7th Ln,Big Bear City,92314
47,https://www.zillow.com/homedetails/1690-Cascad...,1081411,1149000,4641,Not specified,4,3,2803,,SINGLE_FAMILY,1690 Cascade Rd,Big Bear City,92314
48,https://www.zillow.com/homedetails/46242-Curva...,711219,729000,3634,Not specified,3,4,2768,,SINGLE_FAMILY,46242 Curvate Dr,Big Bear City,92314
49,https://www.zillow.com/homedetails/1150-Valley...,624781,634000,3399,Not specified,2,3,2264,,SINGLE_FAMILY,1150 Valley View Dr,Big Bear City,92314
50,https://www.zillow.com/homedetails/350-Brewer-...,640491,659900,3858,Not specified,3,5,2208,,SINGLE_FAMILY,350 Brewer Way,Big Bear City,92314
51,https://www.zillow.com/homedetails/1640-Shenan...,1918200,2099999,9797,Not specified,5,6,4668,,SINGLE_FAMILY,1640 Shenandoah Way,Big Bear City,92314
52,https://www.zillow.com/homedetails/236-Greensp...,,549900,,Not specified,2,3,1440,,SINGLE_FAMILY,236 Greenspot Blvd,Big Bear City,92314
53,https://www.zillow.com/homedetails/998-Feather...,991400,1050000,4214,Not specified,6,8,6200,,SINGLE_FAMILY,998 Feather Mountain Dr,Big Bear City,92314
54,https://www.zillow.com/homedetails/433-Eton-Ln...,724838,749000,3298,Not specified,3,3,1716,,SINGLE_FAMILY,433 Eton Ln,Big Bear City,92314
55,https://www.zillow.com/homedetails/400-San-Mar...,445500,449500,2484,Not specified,2,3,1326,,SINGLE_FAMILY,400 San Martin St,Big Bear City,92314
56,https://www.zillow.com/homedetails/912-Bear-Mo...,535400,624900,2778,Not specified,2,3,1420,,SINGLE_FAMILY,912 Bear Mountain Rd,Big Bear City,92314
57,https://www.zillow.com/homedetails/512-Bernhar...,634900,699900,3206,Not specified,2,3,1832,,SINGLE_FAMILY,512 Bernhardt Ln,Big Bear City,92314

In [57]:
df3

,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"13948,75974",31,1,"449,9599915",8
0,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,"449,9599915",31,"0,032258065","449,9599915",8
1,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,0,30,0,,
2,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,"4949,679932",31,"0,35483871","449,9709029",41
3,10000347,2020-2,92315,Big Bear Lake,2-5 Units,3,2,10,0,28,0,,
4,10000347,2020-3,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9199829",31,"0,064516129","449,9599915",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116613,9996370,2022-5,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116614,9996370,2022-6,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116615,9996370,2022-7,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116616,9996370,2022-8,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116617,9996370,2022-9,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df7

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/9025-Warren...,890416,949000,3058,Not specified,4,4,3542,,SINGLE_FAMILY,9025 Warren Vista Ave,Yucca Valley,92284
2,https://www.zillow.com/homedetails/7552-Cardil...,543600,749000,2922,Not specified,3,3,1678,,SINGLE_FAMILY,7552 Cardillo Trl,Yucca Valley,92284
3,https://www.zillow.com/homedetails/8552-Taft-C...,467500,530000,2710,Not specified,3,3,2134,,SINGLE_FAMILY,8552 Taft Ct,Yucca Valley,92284
4,https://www.zillow.com/homedetails/5088-Elata-...,684150,699000,3034,Not specified,3,3,1929,,SINGLE_FAMILY,5088 Elata Ave,Yucca Valley,92284
5,https://www.zillow.com/homedetails/7478-Goleta...,525004,525000,2199,Not specified,2,3,1508,,SINGLE_FAMILY,7478 Goleta Ave,Yucca Valley,92284
6,https://www.zillow.com/homedetails/7629-Rockaw...,764822,775000,3539,Not specified,2,3,2235,,SINGLE_FAMILY,7629 Rockaway Ave,Yucca Valley,92284
7,https://www.zillow.com/homedetails/7354-Rubido...,880671,900000,2400,Not specified,2,3,1764,,SINGLE_FAMILY,7354 Rubidoux Ave,Yucca Valley,92284
8,https://www.zillow.com/homedetails/7399-Paloma...,478372,489900,2350,Not specified,2,3,1530,,SINGLE_FAMILY,7399 Palomar Ave,Yucca Valley,92284
9,https://www.zillow.com/homedetails/8210-Church...,418600,479000,2907,Not specified,2,4,1820,,SINGLE_FAMILY,8210 Church St,Yucca Valley,92284
10,https://www.zillow.com/homedetails/55960-Onaga...,277830,285000,1829,Not specified,1,3,750,,SINGLE_FAMILY,55960 Onaga Trl,Yucca Valley,92284
11,https://www.zillow.com/homedetails/58783-Santa...,674473,699000,3240,Not specified,2,3,2809,,SINGLE_FAMILY,58783 Santa Barbara Dr,Yucca Valley,92284
12,https://www.zillow.com/homedetails/56763-Java-...,489600,489600,2362,Not specified,2,3,1534,,SINGLE_FAMILY,56763 Java Dr,Yucca Valley,92284
13,https://www.zillow.com/homedetails/56839-Bonan...,374800,545000,4217,Not specified,5,5,2877,,SINGLE_FAMILY,56839 Bonanza Dr,Yucca Valley,92284
14,https://www.zillow.com/homedetails/7731-Arrowh...,1076582,1100000,3410,Not specified,2,3,2076,,SINGLE_FAMILY,7731 Arrowhead Dr,Yucca Valley,92284
15,https://www.zillow.com/homedetails/58345-Bonan...,478884,499950,3204,Not specified,3,4,2363,,SINGLE_FAMILY,58345 Bonanza Dr,Yucca Valley,92284

In [59]:
df3

,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"13948,75974",31,1,"449,9599915",8
0,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,"449,9599915",31,"0,032258065","449,9599915",8
1,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,0,30,0,,
2,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,"4949,679932",31,"0,35483871","449,9709029",41
3,10000347,2020-2,92315,Big Bear Lake,2-5 Units,3,2,10,0,28,0,,
4,10000347,2020-3,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9199829",31,"0,064516129","449,9599915",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116613,9996370,2022-5,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116614,9996370,2022-6,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116615,9996370,2022-7,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116616,9996370,2022-8,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116617,9996370,2022-9,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df4

                 1        2      3              4              5
1      AIR10000347   2019-1  92315  Big Bear Lake      2-5 Units
2      AIR10000347  2019-10  92315  Big Bear Lake      2-5 Units
3      AIR10000347  2019-11  92315  Big Bear Lake      2-5 Units
4      AIR10000347  2019-12  92315  Big Bear Lake      2-5 Units
5      AIR10000347   2019-2  92315  Big Bear Lake      2-5 Units
...            ...      ...    ...            ...            ...
29924   AIR9996370   2019-5  92314  Big Bear City  Single Owners
29925   AIR9996370   2019-6  92314  Big Bear City  Single Owners
29926   AIR9996370   2019-7  92314  Big Bear City  Single Owners
29927   AIR9996370   2019-8  92314  Big Bear City  Single Owners
29928   AIR9996370   2019-9  92314  Big Bear City  Single Owners

[29928 rows x 5 columns]

In [61]:
df7

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/9025-Warren...,890416,949000,3058,Not specified,4,4,3542,,SINGLE_FAMILY,9025 Warren Vista Ave,Yucca Valley,92284
2,https://www.zillow.com/homedetails/7552-Cardil...,543600,749000,2922,Not specified,3,3,1678,,SINGLE_FAMILY,7552 Cardillo Trl,Yucca Valley,92284
3,https://www.zillow.com/homedetails/8552-Taft-C...,467500,530000,2710,Not specified,3,3,2134,,SINGLE_FAMILY,8552 Taft Ct,Yucca Valley,92284
4,https://www.zillow.com/homedetails/5088-Elata-...,684150,699000,3034,Not specified,3,3,1929,,SINGLE_FAMILY,5088 Elata Ave,Yucca Valley,92284
5,https://www.zillow.com/homedetails/7478-Goleta...,525004,525000,2199,Not specified,2,3,1508,,SINGLE_FAMILY,7478 Goleta Ave,Yucca Valley,92284
6,https://www.zillow.com/homedetails/7629-Rockaw...,764822,775000,3539,Not specified,2,3,2235,,SINGLE_FAMILY,7629 Rockaway Ave,Yucca Valley,92284
7,https://www.zillow.com/homedetails/7354-Rubido...,880671,900000,2400,Not specified,2,3,1764,,SINGLE_FAMILY,7354 Rubidoux Ave,Yucca Valley,92284
8,https://www.zillow.com/homedetails/7399-Paloma...,478372,489900,2350,Not specified,2,3,1530,,SINGLE_FAMILY,7399 Palomar Ave,Yucca Valley,92284
9,https://www.zillow.com/homedetails/8210-Church...,418600,479000,2907,Not specified,2,4,1820,,SINGLE_FAMILY,8210 Church St,Yucca Valley,92284
10,https://www.zillow.com/homedetails/55960-Onaga...,277830,285000,1829,Not specified,1,3,750,,SINGLE_FAMILY,55960 Onaga Trl,Yucca Valley,92284
11,https://www.zillow.com/homedetails/58783-Santa...,674473,699000,3240,Not specified,2,3,2809,,SINGLE_FAMILY,58783 Santa Barbara Dr,Yucca Valley,92284
12,https://www.zillow.com/homedetails/56763-Java-...,489600,489600,2362,Not specified,2,3,1534,,SINGLE_FAMILY,56763 Java Dr,Yucca Valley,92284
13,https://www.zillow.com/homedetails/56839-Bonan...,374800,545000,4217,Not specified,5,5,2877,,SINGLE_FAMILY,56839 Bonanza Dr,Yucca Valley,92284
14,https://www.zillow.com/homedetails/7731-Arrowh...,1076582,1100000,3410,Not specified,2,3,2076,,SINGLE_FAMILY,7731 Arrowhead Dr,Yucca Valley,92284
15,https://www.zillow.com/homedetails/58345-Bonan...,478884,499950,3204,Not specified,3,4,2363,,SINGLE_FAMILY,58345 Bonanza Dr,Yucca Valley,92284

In [62]:
df6

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/316-Maple-R...,614000,670000,3750,Not specified,3,3,2122,,SINGLE_FAMILY,316 Maple Ridge Dr,Big Bear City,92314
2,https://www.zillow.com/homedetails/1113-Michae...,533300,649000,2999,Not specified,3,4,1975,,SINGLE_FAMILY,1113 Michael Ave,Big Bear City,92314
3,https://www.zillow.com/homedetails/919-Robinho...,470600,539000,2300,Not specified,2,3,1185,,SINGLE_FAMILY,919 Robinhood Blvd,Big Bear City,92314
4,https://www.zillow.com/homedetails/824-Raleigh...,632272,650000,2990,Not specified,2,3,1686,,SINGLE_FAMILY,824 Raleigh Dr,Big Bear City,92314
5,https://www.zillow.com/homedetails/1000-Willow...,575001,575000,2996,Not specified,2,3,1850,,SINGLE_FAMILY,1000 Willow Ln,Big Bear City,92314
6,https://www.zillow.com/homedetails/913-Mount-D...,,479900,2808,Not specified,2,3,1456,,SINGLE_FAMILY,913 Mount Doble Dr,Big Bear City,92314
7,https://www.zillow.com/homedetails/281-Pine-Ln...,525000,525000,3499,Not specified,3,3,1954,,SINGLE_FAMILY,281 Pine Ln,Big Bear City,92314
8,https://www.zillow.com/homedetails/701-Villa-G...,599000,599000,2999,Not specified,2,4,1443,,SINGLE_FAMILY,701 Villa Grove Ave,Big Bear City,92314
9,https://www.zillow.com/homedetails/352-Lookout...,1070564,1125000,4805,Not specified,5,4,3752,,SINGLE_FAMILY,352 Lookout Dr,Big Bear City,92314
10,https://www.zillow.com/homedetails/1526-Monte-...,418057,419000,2728,Not specified,2,3,1428,,SINGLE_FAMILY,1526 Monte Vista Dr,Big Bear City,92314
11,https://www.zillow.com/homedetails/1281-Minton...,498800,499000,2600,Not specified,2,3,1128,,SINGLE_FAMILY,1281 Minton Dr,Big Bear City,92314
12,https://www.zillow.com/homedetails/1635-Shenan...,1436140,1535000,,Not specified,4,3,2936,,SINGLE_FAMILY,1635 Shenandoah Way,Big Bear City,92314
13,https://www.zillow.com/homedetails/1130-Rocky-...,939300,965000,,Not specified,2,3,2425,,SINGLE_FAMILY,1130 Rocky Mountain Rd,Big Bear City,92314
14,https://www.zillow.com/homedetails/277-Greensp...,498900,499000,2699,Not specified,3,3,1344,,SINGLE_FAMILY,277 Greenspot Blvd,Big Bear City,92314
15,https://www.zillow.com/homedetails/305-Lookout...,876523,900000,4500,Not specified,2,3,2758,,SINGLE_FAMILY,305 Lookout Dr,Big Bear City,92314
16,https://www.zillow.com/homedetails/329-E-Sherw...,490500,630000,2999,Not specified,2,3,1689,,SINGLE_FAMILY,329 E Sherwood Blvd,Big Bear City,92314
17,https://www.zillow.com/homedetails/369-Greensp...,464900,380000,,Not specified,2,3,1322,,SINGLE_FAMILY,369 Greenspot Blvd,Big Bear City,92314
18,https://www.zillow.com/homedetails/1009-Herita...,963217,1010000,4113,Not specified,2,4,2334,,SINGLE_FAMILY,1009 Heritage Trl,Big Bear City,92314
19,https://www.zillow.com/homedetails/1194-Alamed...,,1100000,,Not specified,3,4,2421,,SINGLE_FAMILY,1194 Alameda Ct,Big Bear City,92314
20,https://www.zillow.com/homedetails/1658-Tuolum...,1799652,1900000,1950,Not specified,6,5,4400,,SINGLE_FAMILY,1658 Tuolumne Rd,Big Bear City,92314
21,https://www.zillow.com/homedetails/1242-Panora...,637891,655000,3696,Not specified,3,3,2111,,SINGLE_FAMILY,1242 Panorama Dr,Big Bear City,92314
22,https://www.zillow.com/homedetails/46125-Vale-...,851800,950000,3658,Not specified,3,5,3108,,SINGLE_FAMILY,46125 Vale Dr,Big Bear City,92314
23,https://www.zillow.com/homedetails/764-Panamin...,537945,549900,2999,Not specified,3,4,1636,,SINGLE_FAMILY,764 Panamint Mountain Dr,Big Bear City,92314
24,https://www.zillow.com/homedetails/1048-Hemloc...,634900,649000,3127,Not specified,3,4,1974,,SINGLE_FAMILY,1048 Hemlock Ln,Big Bear City,92314
25,https://www.zillow.com/homedetails/1842-Baldwi...,493900,495000,3069,Not specified,3,3,1807,,SINGLE_FAMILY,1842 Baldwin Lake Rd,Big Bear City,92314
26,https://www.zillow.com/homedetails/1185-Mitche...,936576,960000,4800,Not specified,3,4,3415,,SINGLE_FAMILY,1185 Mitchell Ln,Big Bear City,92314
27,https://www.zillow.com/homedetails/666-Butte-A...,804600,824888,3073,Not specified,3,4,2012,,SINGLE_FAMILY,666 Butte Ave,Big Bear City,92314
28,https://www.zillow.com/homedetails/1526-Malaba...,376000,409000,2228,Not specified,1,3,1188,,SINGLE_FAMILY,1526 Malabar Way,Big Bear City,92314
29,https://www.zillow.com/homedetails/929-Myrtle-...,684700,697000,3421,Not specified,3,4,1945,,SINGLE_FAMILY,929 Myrtle Ave,Big Bear City,92314
30,https://www.zillow.com/homedetails/2149-1st-Ln...,289000,289000,2028,Not specified,2,3,903,,SINGLE_FAMILY,2149 1st Ln,Big Bear City,92314
31,https://www.zillow.com/homedetails/1416-Klamat...,677600,699900,2999,Not specified,2,3,1600,,SINGLE_FAMILY,1416 Klamath Rd,Big Bear City,92314
32,https://www.zillow.com/homedetails/46647-Arast...,1171624,1275000,4886,Not specified,4,4,4575,,SINGLE_FAMILY,46647 Arastre Rd,Big Bear City,92314
33,https://www.zillow.com/homedetails/1020-Whispe...,770873,794000,3406,Not specified,3,3,1973,,SINGLE_FAMILY,1020 Whispering Forest Dr,Big Bear City,92314
34,https://www.zillow.com/homedetails/46895-Estac...,815376,849900,4500,Not specified,3,3,2698,,SINGLE_FAMILY,46895 Estacia Rd,Big Bear City,92314
35,https://www.zillow.com/homedetails/1125-W-Big-...,933153,949000,4320,Not specified,4,4,2062,,SINGLE_FAMILY,1125 W Big Bear Blvd,Big Bear City,92314
36,https://www.zillow.com/homedetails/1027-Herita...,1804200,2289000,7545,Not specified,10,6,6534,,SINGLE_FAMILY,1027 Heritage Trl,Big Bear City,92314
37,https://www.zillow.com/homedetails/109-Palomin...,1166674,1250000,4187,Not specified,4,4,3894,,SINGLE_FAMILY,109 Palomino Dr,Big Bear City,92314
38,https://www.zillow.com/homedetails/1331-La-Cre...,631276,645000,2999,Not specified,3,3,1829,,SINGLE_FAMILY,1331 La Crescenta Dr,Big Bear City,92314
39,https://www.zillow.com/homedetails/160-Yosemit...,1044000,1100000,4411,Not specified,3,4,3478,,SINGLE_FAMILY,160 Yosemite Dr,Big Bear City,92314
40,https://www.zillow.com/homedetails/449-E-Barke...,531951,550000,2350,Not specified,2,3,1214,,SINGLE_FAMILY,449 E Barker Blvd,Big Bear City,92314
41,https://www.zillow.com/homedetails/1037-Van-Du...,,599000,,Not specified,2,3,1800,,SINGLE_FAMILY,1037 Van Dusen Canyon Rd,Big Bear City,92314
42,https://www.zillow.com/homedetails/42539-Bear-...,1132327,1226688,5114,Not specified,5,5,3626,,SINGLE_FAMILY,42539 Bear Loop,Big Bear City,92314
43,https://www.zillow.com/homedetails/1112-Cedar-...,711600,725000,3349,Not specified,3,4,2830,,SINGLE_FAMILY,1112 Cedar Mountain Rd,Big Bear City,92314
44,https://www.zillow.com/homedetails/1033-Herita...,1771560,1950000,7723,Not specified,5,5,4188,,SINGLE_FAMILY,1033 Heritage Trl,Big Bear City,92314
45,https://www.zillow.com/homedetails/2047-7th-Ln...,323300,349000,,Not specified,1,3,840,,SINGLE_FAMILY,2047 7th Ln,Big Bear City,92314
46,https://www.zillow.com/homedetails/2111-7th-Ln...,768356,799000,3196,Not specified,2,3,2304,,SINGLE_FAMILY,2111 7th Ln,Big Bear City,92314
47,https://www.zillow.com/homedetails/1690-Cascad...,1081411,1149000,4641,Not specified,4,3,2803,,SINGLE_FAMILY,1690 Cascade Rd,Big Bear City,92314
48,https://www.zillow.com/homedetails/46242-Curva...,711219,729000,3634,Not specified,3,4,2768,,SINGLE_FAMILY,46242 Curvate Dr,Big Bear City,92314
49,https://www.zillow.com/homedetails/1150-Valley...,624781,634000,3399,Not specified,2,3,2264,,SINGLE_FAMILY,1150 Valley View Dr,Big Bear City,92314
50,https://www.zillow.com/homedetails/350-Brewer-...,640491,659900,3858,Not specified,3,5,2208,,SINGLE_FAMILY,350 Brewer Way,Big Bear City,92314
51,https://www.zillow.com/homedetails/1640-Shenan...,1918200,2099999,9797,Not specified,5,6,4668,,SINGLE_FAMILY,1640 Shenandoah Way,Big Bear City,92314
52,https://www.zillow.com/homedetails/236-Greensp...,,549900,,Not specified,2,3,1440,,SINGLE_FAMILY,236 Greenspot Blvd,Big Bear City,92314
53,https://www.zillow.com/homedetails/998-Feather...,991400,1050000,4214,Not specified,6,8,6200,,SINGLE_FAMILY,998 Feather Mountain Dr,Big Bear City,92314
54,https://www.zillow.com/homedetails/433-Eton-Ln...,724838,749000,3298,Not specified,3,3,1716,,SINGLE_FAMILY,433 Eton Ln,Big Bear City,92314
55,https://www.zillow.com/homedetails/400-San-Mar...,445500,449500,2484,Not specified,2,3,1326,,SINGLE_FAMILY,400 San Martin St,Big Bear City,92314
56,https://www.zillow.com/homedetails/912-Bear-Mo...,535400,624900,2778,Not specified,2,3,1420,,SINGLE_FAMILY,912 Bear Mountain Rd,Big Bear City,92314
57,https://www.zillow.com/homedetails/512-Bernhar...,634900,699900,3206,Not specified,2,3,1832,,SINGLE_FAMILY,512 Bernhardt Ln,Big Bear City,92314

In [63]:
df5

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/8198-Uphill...,,18000000,2435,Not specified,4,3,5470,,SINGLE_FAMILY,8198 Uphill Rd,Joshua Tree,92252
2,https://www.zillow.com/homedetails/4757-Avenid...,223200,399990,1786,Not specified,2,3,1056,,SINGLE_FAMILY,4757 Avenida La Espana Daga,Joshua Tree,92252
3,https://www.zillow.com/homedetails/61018-Presc...,568947,575000,2300,Not specified,2,3,1577,,SINGLE_FAMILY,61018 Prescott Trl,Joshua Tree,92252
4,https://www.zillow.com/homedetails/61875-Anaco...,851656,899000,4798,Not specified,2,3,1434,,SINGLE_FAMILY,61875 Anaconda Dr,Joshua Tree,92252
5,https://www.zillow.com/homedetails/61879-Petun...,,369900,1825,Not specified,1,3,1040,,SINGLE_FAMILY,61879 Petunia Dr,Joshua Tree,92252
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,https://www.zillow.com/homedetails/64873-Choll...,331900,399995,1853,Not specified,1,3,1080,,SINGLE_FAMILY,64873 Chollita Rd,Joshua Tree,92252
70,https://www.zillow.com/homedetails/62036-Bonai...,400438,413000,2400,Not specified,2,3,1386,,SINGLE_FAMILY,62036 Bonair Rd,Joshua Tree,92252
71,https://www.zillow.com/homedetails/7320-Sherwo...,850155,879000,2398,Not specified,2,3,1700,,SINGLE_FAMILY,7320 Sherwood Rd,Joshua Tree,92252
72,https://www.zillow.com/homedetails/0-Sunfair-R...,,1800000,3499,Not specified,4,4,2200,,SINGLE_FAMILY,0 Sunfair Rd,Joshua Tree,92252
73,https://www.zillow.com/homedetails/7160-Olympi...,,850000,4500,Not specified,3,4,2600,,SINGLE_FAMILY,7160 Olympic Rd,Joshua Tree,92252

In [64]:
df4

                 1        2      3              4              5
1      AIR10000347   2019-1  92315  Big Bear Lake      2-5 Units
2      AIR10000347  2019-10  92315  Big Bear Lake      2-5 Units
3      AIR10000347  2019-11  92315  Big Bear Lake      2-5 Units
4      AIR10000347  2019-12  92315  Big Bear Lake      2-5 Units
5      AIR10000347   2019-2  92315  Big Bear Lake      2-5 Units
...            ...      ...    ...            ...            ...
29924   AIR9996370   2019-5  92314  Big Bear City  Single Owners
29925   AIR9996370   2019-6  92314  Big Bear City  Single Owners
29926   AIR9996370   2019-7  92314  Big Bear City  Single Owners
29927   AIR9996370   2019-8  92314  Big Bear City  Single Owners
29928   AIR9996370   2019-9  92314  Big Bear City  Single Owners

[29928 rows x 5 columns]

In [65]:
df3

,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"13948,75974",31,1,"449,9599915",8
0,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,"449,9599915",31,"0,032258065","449,9599915",8
1,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,0,30,0,,
2,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,"4949,679932",31,"0,35483871","449,9709029",41
3,10000347,2020-2,92315,Big Bear Lake,2-5 Units,3,2,10,0,28,0,,
4,10000347,2020-3,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9199829",31,"0,064516129","449,9599915",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116613,9996370,2022-5,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116614,9996370,2022-6,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116615,9996370,2022-7,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116616,9996370,2022-8,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116617,9996370,2022-9,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df2

                                                            unified_id;month;street_name;latitude;longitude
AIR10052559;2022-12;Heavenly Valley Road;34  23948;-116                                               87991
AIR10178668;2022-12;Round Drive;34           25095;-116                                               94139
AIR10211700;2022-12;;34                      24516;-116                                               87618
AIR10344705;2022-12;;34                      2675;-116                                                86089
AIR10424683;2022-12;Starvation Flats Road;34 25341;-116                                               88025
...                                                                                                     ...
AIR9959855;2020-01;Peregrine Avenue;34       23760869;-116                                          8700886
AIR9960008;2020-01;Waterview Drive;34        24621713;-116                                          9461685
AIR9976790;2020-01;Starvation Flats Road;34  25097351;-116                                          8804907
AIR9986505;2020-01;Rocking Chair Road;34     10087101;-116                                          2876788
AIR9996370;2020-01;Eagle Mountain Drive;34   26706673;-116                                          8611341

[49311 rows x 1 columns]

In [67]:
df5

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/8198-Uphill...,,18000000,2435,Not specified,4,3,5470,,SINGLE_FAMILY,8198 Uphill Rd,Joshua Tree,92252
2,https://www.zillow.com/homedetails/4757-Avenid...,223200,399990,1786,Not specified,2,3,1056,,SINGLE_FAMILY,4757 Avenida La Espana Daga,Joshua Tree,92252
3,https://www.zillow.com/homedetails/61018-Presc...,568947,575000,2300,Not specified,2,3,1577,,SINGLE_FAMILY,61018 Prescott Trl,Joshua Tree,92252
4,https://www.zillow.com/homedetails/61875-Anaco...,851656,899000,4798,Not specified,2,3,1434,,SINGLE_FAMILY,61875 Anaconda Dr,Joshua Tree,92252
5,https://www.zillow.com/homedetails/61879-Petun...,,369900,1825,Not specified,1,3,1040,,SINGLE_FAMILY,61879 Petunia Dr,Joshua Tree,92252
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,https://www.zillow.com/homedetails/64873-Choll...,331900,399995,1853,Not specified,1,3,1080,,SINGLE_FAMILY,64873 Chollita Rd,Joshua Tree,92252
70,https://www.zillow.com/homedetails/62036-Bonai...,400438,413000,2400,Not specified,2,3,1386,,SINGLE_FAMILY,62036 Bonair Rd,Joshua Tree,92252
71,https://www.zillow.com/homedetails/7320-Sherwo...,850155,879000,2398,Not specified,2,3,1700,,SINGLE_FAMILY,7320 Sherwood Rd,Joshua Tree,92252
72,https://www.zillow.com/homedetails/0-Sunfair-R...,,1800000,3499,Not specified,4,4,2200,,SINGLE_FAMILY,0 Sunfair Rd,Joshua Tree,92252
73,https://www.zillow.com/homedetails/7160-Olympi...,,850000,4500,Not specified,3,4,2600,,SINGLE_FAMILY,7160 Olympic Rd,Joshua Tree,92252

In [68]:
df7

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,https://www.zillow.com/homedetails/9025-Warren...,890416,949000,3058,Not specified,4,4,3542,,SINGLE_FAMILY,9025 Warren Vista Ave,Yucca Valley,92284
2,https://www.zillow.com/homedetails/7552-Cardil...,543600,749000,2922,Not specified,3,3,1678,,SINGLE_FAMILY,7552 Cardillo Trl,Yucca Valley,92284
3,https://www.zillow.com/homedetails/8552-Taft-C...,467500,530000,2710,Not specified,3,3,2134,,SINGLE_FAMILY,8552 Taft Ct,Yucca Valley,92284
4,https://www.zillow.com/homedetails/5088-Elata-...,684150,699000,3034,Not specified,3,3,1929,,SINGLE_FAMILY,5088 Elata Ave,Yucca Valley,92284
5,https://www.zillow.com/homedetails/7478-Goleta...,525004,525000,2199,Not specified,2,3,1508,,SINGLE_FAMILY,7478 Goleta Ave,Yucca Valley,92284
6,https://www.zillow.com/homedetails/7629-Rockaw...,764822,775000,3539,Not specified,2,3,2235,,SINGLE_FAMILY,7629 Rockaway Ave,Yucca Valley,92284
7,https://www.zillow.com/homedetails/7354-Rubido...,880671,900000,2400,Not specified,2,3,1764,,SINGLE_FAMILY,7354 Rubidoux Ave,Yucca Valley,92284
8,https://www.zillow.com/homedetails/7399-Paloma...,478372,489900,2350,Not specified,2,3,1530,,SINGLE_FAMILY,7399 Palomar Ave,Yucca Valley,92284
9,https://www.zillow.com/homedetails/8210-Church...,418600,479000,2907,Not specified,2,4,1820,,SINGLE_FAMILY,8210 Church St,Yucca Valley,92284
10,https://www.zillow.com/homedetails/55960-Onaga...,277830,285000,1829,Not specified,1,3,750,,SINGLE_FAMILY,55960 Onaga Trl,Yucca Valley,92284
11,https://www.zillow.com/homedetails/58783-Santa...,674473,699000,3240,Not specified,2,3,2809,,SINGLE_FAMILY,58783 Santa Barbara Dr,Yucca Valley,92284
12,https://www.zillow.com/homedetails/56763-Java-...,489600,489600,2362,Not specified,2,3,1534,,SINGLE_FAMILY,56763 Java Dr,Yucca Valley,92284
13,https://www.zillow.com/homedetails/56839-Bonan...,374800,545000,4217,Not specified,5,5,2877,,SINGLE_FAMILY,56839 Bonanza Dr,Yucca Valley,92284
14,https://www.zillow.com/homedetails/7731-Arrowh...,1076582,1100000,3410,Not specified,2,3,2076,,SINGLE_FAMILY,7731 Arrowhead Dr,Yucca Valley,92284
15,https://www.zillow.com/homedetails/58345-Bonan...,478884,499950,3204,Not specified,3,4,2363,,SINGLE_FAMILY,58345 Bonanza Dr,Yucca Valley,92284

In [69]:
import pandas as pd

In [70]:
df=pd.read_csv(r"D:\Pyn\online learning\Test_files\py-master\ML\FeatureEngineering\2_outliers_z_score\heights.csv")

In [71]:
df3

,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"13948,75974",31,1,"449,9599915",8
0,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,"449,9599915",31,"0,032258065","449,9599915",8
1,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,0,30,0,,
2,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,"4949,679932",31,"0,35483871","449,9709029",41
3,10000347,2020-2,92315,Big Bear Lake,2-5 Units,3,2,10,0,28,0,,
4,10000347,2020-3,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9199829",31,"0,064516129","449,9599915",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116613,9996370,2022-5,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116614,9996370,2022-6,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116615,9996370,2022-7,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116616,9996370,2022-8,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116617,9996370,2022-9,92314,Big Bear City,Single Owners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df1

      unified_id;month;hot_tub;pool
0           AIR10052559;2022-12;1;0
1           AIR10178668;2022-12;0;0
2           AIR10211700;2022-12;0;0
3           AIR10344705;2022-12;0;0
4           AIR10424683;2022-12;0;1
...                             ...
49306        AIR9959855;2020-01;1;0
49307        AIR9960008;2020-01;0;0
49308        AIR9976790;2020-01;1;0
49309        AIR9986505;2020-01;1;0
49310        AIR9996370;2020-01;0;0

[49311 rows x 1 columns]