In [1]:
import pandas as pd

In [47]:
amenities=pd.read_csv("amenities.csv")

In [48]:
manalysis1 = pd.read_csv(r"market_analysis.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_10372\4063047582.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  manalysis1 = pd.read_csv(r"market_analysis.csv", sep='delimiter', header=None)

In [49]:
manalysis2 = pd.read_csv(r"market_analysis_2019.csv", sep='delimiter', header=None)

C:\Users\aviji\AppData\Local\Temp\ipykernel_10372\957662552.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  manalysis2 = pd.read_csv(r"market_analysis_2019.csv", sep='delimiter', header=None)

In [50]:
manalysis1

                                                        0
0       unified_id;month;zipcode;city;host_type;bedroo...
1       10000347;2020-1;92315;Big Bear Lake;2-5 Units;...
2       10000347;2020-10;92315;Big Bear Lake;2-5 Units...
3       10000347;2020-11;92315;Big Bear Lake;2-5 Units...
4       10000347;2020-12;92315;Big Bear Lake;2-5 Units...
...                                                   ...
116615  9996370;2022-5;92314;Big Bear City;Single Owne...
116616  9996370;2022-6;92314;Big Bear City;Single Owne...
116617  9996370;2022-7;92314;Big Bear City;Single Owne...
116618  9996370;2022-8;92314;Big Bear City;Single Owne...
116619  9996370;2022-9;92314;Big Bear City;Single Owne...

[116620 rows x 1 columns]

In [51]:
amenities

      unified_id;month;hot_tub;pool
0           AIR10052559;2022-12;1;0
1           AIR10178668;2022-12;0;0
2           AIR10211700;2022-12;0;0
3           AIR10344705;2022-12;0;0
4           AIR10424683;2022-12;0;1
...                             ...
49306        AIR9959855;2020-01;1;0
49307        AIR9960008;2020-01;0;0
49308        AIR9976790;2020-01;1;0
49309        AIR9986505;2020-01;1;0
49310        AIR9996370;2020-01;0;0

[49311 rows x 1 columns]

In [52]:
manalysis1["unified_id"]=manalysis1[0].str.split(";").str[0]
manalysis1["month"]=manalysis1[0].str.split(";").str[1]
manalysis1["zipcode"]=manalysis1[0].str.split(";").str[2]
manalysis1["city"]=manalysis1[0].str.split(";").str[3]
manalysis1["host_type"]=manalysis1[0].str.split(";").str[4]
manalysis1["bedrooms"]=manalysis1[0].str.split(";").str[5]
manalysis1["bathrooms"]=manalysis1[0].str.split(";").str[6]
manalysis1["guests"]=manalysis1[0].str.split(";").str[7]
manalysis1["revenue"]=manalysis1[0].str.split(";").str[8]
manalysis1["openness"]=manalysis1[0].str.split(";").str[9]
manalysis1["occupancy"]=manalysis1[0].str.split(";").str[10]
manalysis1["nightly_rate"]=manalysis1[0].str.split(";").str[11]
manalysis1["lead_time"]=manalysis1[0].str.split(";").str[12]
manalysis1["length_stay"]=manalysis1[0].str.split(";").str[13]

In [53]:
manalysis1.drop(0,axis=1,inplace=True)

In [54]:
manalysis1.drop(0,axis=0,inplace=True)

In [55]:
manalysis1

,unified_id,month,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly_rate,lead_time,length_stay
1,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9599915",31,"0,064516129","449,9799957",52,3
2,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,13950,31,1,450,,
3,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,13500,30,1,450,,
4,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,13950,31,1,450,,
5,10000347,2020-2,92315,Big Bear Lake,2-5 Units,3,2,10,450,29,"0,034482759",450,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116615,9996370,2022-5,92314,Big Bear City,Single Owners,3,1,8,0,31,0,,,
116616,9996370,2022-6,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,
116617,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,"0,129032258","182,5","10,5",2
116618,9996370,2022-8,92314,Big Bear City,Single Owners,3,1,8,0,31,0,,,
116619,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,

In [56]:
manalysis2

                                                       0
0      unified_id;month;zipcode;city;host_type;bedroo...
1      AIR10000347;2019-1;92315;Big Bear Lake;2-5 Uni...
2      AIR10000347;2019-10;92315;Big Bear Lake;2-5 Un...
3      AIR10000347;2019-11;92315;Big Bear Lake;2-5 Un...
4      AIR10000347;2019-12;92315;Big Bear Lake;2-5 Un...
...                                                  ...
29924  AIR9996370;2019-5;92314;Big Bear City;Single O...
29925  AIR9996370;2019-6;92314;Big Bear City;Single O...
29926  AIR9996370;2019-7;92314;Big Bear City;Single O...
29927  AIR9996370;2019-8;92314;Big Bear City;Single O...
29928  AIR9996370;2019-9;92314;Big Bear City;Single O...

[29929 rows x 1 columns]

In [57]:
manalysis2["unified_id"]=manalysis2[0].str.split(";").str[0]
manalysis2["month"]=manalysis2[0].str.split(";").str[1]
manalysis2["zipcode"]=manalysis2[0].str.split(";").str[2]
manalysis2["city"]=manalysis2[0].str.split(";").str[3]
manalysis2["host_type"]=manalysis2[0].str.split(";").str[4]
manalysis2["bedrooms"]=manalysis2[0].str.split(";").str[5]
manalysis2["bathrooms"]=manalysis2[0].str.split(";").str[6]
manalysis2["guests"]=manalysis2[0].str.split(";").str[7]
manalysis2["revenue"]=manalysis2[0].str.split(";").str[8]
manalysis2["openness"]=manalysis2[0].str.split(";").str[9]
manalysis2["occupancy"]=manalysis2[0].str.split(";").str[10]
manalysis2["nightly_rate"]=manalysis2[0].str.split(";").str[11]
manalysis2["lead_time"]=manalysis2[0].str.split(";").str[12]
manalysis2["length_stay"]=manalysis2[0].str.split(";").str[13]

In [58]:
manalysis2.drop(0,axis=1,inplace=True)
manalysis2.drop(0,axis=0,inplace=True)

In [59]:
manalysis2

,unified_id,month,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly_rate,lead_time,length_stay
1,AIR10000347,2019-1,92315,Big Bear Lake,2-5 Units,3,2,10,"13948,75974",31,1,"449,9599915",8,65
2,AIR10000347,2019-10,92315,Big Bear Lake,2-5 Units,3,2,10,"449,9599915",31,"0,032258065","449,9599915",8,1
3,AIR10000347,2019-11,92315,Big Bear Lake,2-5 Units,3,2,10,0,30,0,,,
4,AIR10000347,2019-12,92315,Big Bear Lake,2-5 Units,3,2,10,"4949,679932",31,"0,35483871","449,9709029",41,"2,4"
5,AIR10000347,2019-2,92315,Big Bear Lake,2-5 Units,3,2,10,0,28,0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29924,AIR9996370,2019-5,92314,Big Bear City,Single Owners,3,1,8,"142,9799957",31,"0,032258065","142,9799957",2,1
29925,AIR9996370,2019-6,92314,Big Bear City,Single Owners,3,1,8,"399,9599915",30,"0,066666667","199,9799957",2,1
29926,AIR9996370,2019-7,92314,Big Bear City,Single Owners,3,1,8,"658,9399872",31,"0,096774194","219,6466624",19,3
29927,AIR9996370,2019-8,92314,Big Bear City,Single Owners,3,1,8,"339,9599915",31,"0,064516129","169,9799957","8,5","1,5"
29928,AIR9996370,2019-9,92314,Big Bear City,Single Owners,3,1,8,"326,9599915",30,"0,066666667","163,4799957",9,1

In [60]:
amenities

      unified_id;month;hot_tub;pool
0           AIR10052559;2022-12;1;0
1           AIR10178668;2022-12;0;0
2           AIR10211700;2022-12;0;0
3           AIR10344705;2022-12;0;0
4           AIR10424683;2022-12;0;1
...                             ...
49306        AIR9959855;2020-01;1;0
49307        AIR9960008;2020-01;0;0
49308        AIR9976790;2020-01;1;0
49309        AIR9986505;2020-01;1;0
49310        AIR9996370;2020-01;0;0

[49311 rows x 1 columns]

In [61]:
amenities["unified_id;month;hot_tub;pool"].str.split(";").str[0]

0        AIR10052559
1        AIR10178668
2        AIR10211700
3        AIR10344705
4        AIR10424683
            ...
49306     AIR9959855
49307     AIR9960008
49308     AIR9976790
49309     AIR9986505
49310     AIR9996370
Name: unified_id;month;hot_tub;pool, Length: 49311, dtype: object

In [62]:
amenities["unified_id"]=amenities["unified_id;month;hot_tub;pool"].str.split(";").str[0]
amenities["month"]=amenities["unified_id;month;hot_tub;pool"].str.split(";").str[1]
amenities["hot_tub;pool"]=amenities["unified_id;month;hot_tub;pool"].str.split(";").str[2]

In [63]:
amenities.drop("unified_id;month;hot_tub;pool",axis=1,inplace=True)

In [64]:
amenities

        unified_id    month hot_tub;pool
0      AIR10052559  2022-12            1
1      AIR10178668  2022-12            0
2      AIR10211700  2022-12            0
3      AIR10344705  2022-12            0
4      AIR10424683  2022-12            0
...            ...      ...          ...
49306   AIR9959855  2020-01            1
49307   AIR9960008  2020-01            0
49308   AIR9976790  2020-01            1
49309   AIR9986505  2020-01            1
49310   AIR9996370  2020-01            0

[49311 rows x 3 columns]

In [65]:
result = pd.concat([manalysis1, manalysis2], ignore_index=True)

In [66]:
result

,unified_id,month,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly_rate,lead_time,length_stay
0,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9599915",31,"0,064516129","449,9799957",52,3
1,10000347,2020-10,92315,Big Bear Lake,2-5 Units,3,2,10,13950,31,1,450,,
2,10000347,2020-11,92315,Big Bear Lake,2-5 Units,3,2,10,13500,30,1,450,,
3,10000347,2020-12,92315,Big Bear Lake,2-5 Units,3,2,10,13950,31,1,450,,
4,10000347,2020-2,92315,Big Bear Lake,2-5 Units,3,2,10,450,29,"0,034482759",450,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146542,AIR9996370,2019-5,92314,Big Bear City,Single Owners,3,1,8,"142,9799957",31,"0,032258065","142,9799957",2,1
146543,AIR9996370,2019-6,92314,Big Bear City,Single Owners,3,1,8,"399,9599915",30,"0,066666667","199,9799957",2,1
146544,AIR9996370,2019-7,92314,Big Bear City,Single Owners,3,1,8,"658,9399872",31,"0,096774194","219,6466624",19,3
146545,AIR9996370,2019-8,92314,Big Bear City,Single Owners,3,1,8,"339,9599915",31,"0,064516129","169,9799957","8,5","1,5"
146546,AIR9996370,2019-9,92314,Big Bear City,Single Owners,3,1,8,"326,9599915",30,"0,066666667","163,4799957",9,1

In [67]:
amenities["unified_id"]=amenities["unified_id"].str.replace("AIR", "")

In [68]:
amenities

      unified_id    month hot_tub;pool
0       10052559  2022-12            1
1       10178668  2022-12            0
2       10211700  2022-12            0
3       10344705  2022-12            0
4       10424683  2022-12            0
...          ...      ...          ...
49306    9959855  2020-01            1
49307    9960008  2020-01            0
49308    9976790  2020-01            1
49309    9986505  2020-01            1
49310    9996370  2020-01            0

[49311 rows x 3 columns]

In [69]:
mergedf=pd.merge(result,amenities, on="unified_id", how="inner")
mergedf

,unified_id,month_x,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly_rate,lead_time,length_stay,month_y,hot_tub;pool
0,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9599915",31,"0,064516129","449,9799957",52,3,2021-09,0
1,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9599915",31,"0,064516129","449,9799957",52,3,2021-08,0
2,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9599915",31,"0,064516129","449,9799957",52,3,2021-07,0
3,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9599915",31,"0,064516129","449,9799957",52,3,2021-06,0
4,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,"899,9599915",31,"0,064516129","449,9799957",52,3,2021-05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548936,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-05,0
1548937,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-04,0
1548938,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-03,0
1548939,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-02,0
1548940,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-01,0

In [70]:
mergedf.shape

(1548941, 16)

In [71]:
mergedf[mergedf.duplicated()==True]

Empty DataFrame
Columns: [unified_id, month_x, zipcode, city, host_type, bedrooms, bathrooms, guests, revenue, openness, occupancy, nightly_rate, lead_time, length_stay, month_y, hot_tub;pool]
Index: []

In [72]:
mergedf["revenue"]=mergedf["revenue"].str.split(",").str.join("")

In [73]:
mergedf

,unified_id,month_x,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly_rate,lead_time,length_stay,month_y,hot_tub;pool
0,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,"0,064516129","449,9799957",52,3,2021-09,0
1,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,"0,064516129","449,9799957",52,3,2021-08,0
2,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,"0,064516129","449,9799957",52,3,2021-07,0
3,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,"0,064516129","449,9799957",52,3,2021-06,0
4,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,"0,064516129","449,9799957",52,3,2021-05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548936,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-05,0
1548937,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-04,0
1548938,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-03,0
1548939,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-02,0
1548940,9996370,2022-9,92314,Big Bear City,Single Owners,3,1,8,0,30,0,,,,2020-01,0

In [74]:
mergedf["occupancy"]=mergedf["occupancy"].str.split(",").str.join("")
mergedf["nightly_rate"]=mergedf["nightly_rate"].str.split(",").str.join("")

In [75]:
mergedf['bedrooms'].unique()

array(['3', '5', '4'], dtype=object)

In [76]:
mergedf.isnull().sum()

unified_id      0
month_x         0
zipcode         0
city            0
host_type       0
bedrooms        0
bathrooms       0
guests          0
revenue         0
openness        0
occupancy       0
nightly_rate    0
lead_time       0
length_stay     0
month_y         0
hot_tub;pool    0
dtype: int64

In [77]:
mergedf["hot_tub;pool"].value_counts()

hot_tub;pool
1    814858
0    734083
Name: count, dtype: int64

In [78]:
mergedf["occupancy"].value_counts()

occupancy
0             190461
1             141583
0451612903     26123
0612903226     25583
0387096774     24712
               ...
012               76
0647058824        76
0764705882        72
0736842105        61
0411764706        40
Name: count, Length: 309, dtype: int64

In [79]:
mergedf["occupancy"].dtypes

dtype('O')

In [80]:
mergedf["occupancy"]=mergedf["occupancy"].astype(int)

In [81]:
mergedf["occupancy"]

0          64516129
1          64516129
2          64516129
3          64516129
4          64516129
             ...
1548936           0
1548937           0
1548938           0
1548939           0
1548940           0
Name: occupancy, Length: 1548941, dtype: int32

In [82]:
mergedf[mergedf["occupancy"] >= 1]

,unified_id,month_x,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly_rate,lead_time,length_stay,month_y,hot_tub;pool
0,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-09,0
1,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-08,0
2,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-07,0
3,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-06,0
4,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548884,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-05,0
1548885,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-04,0
1548886,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-03,0
1548887,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-02,0
1548888,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-01,0

In [83]:
mergedf[mergedf["occupancy"] >= 1]

,unified_id,month_x,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,nightly_rate,lead_time,length_stay,month_y,hot_tub;pool
0,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-09,0
1,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-08,0
2,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-07,0
3,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-06,0
4,10000347,2020-1,92315,Big Bear Lake,2-5 Units,3,2,10,8999599915,31,64516129,4499799957,52,3,2021-05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548884,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-05,0
1548885,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-04,0
1548886,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-03,0
1548887,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-02,0
1548888,9996370,2022-7,92314,Big Bear City,Single Owners,3,1,8,730,31,129032258,1825,"10,5",2,2020-01,0

In [84]:
# mergedf.to_csv("mergedf.csv")

In [85]:
mergedf.isnull().sum()

unified_id      0
month_x         0
zipcode         0
city            0
host_type       0
bedrooms        0
bathrooms       0
guests          0
revenue         0
openness        0
occupancy       0
nightly_rate    0
lead_time       0
length_stay     0
month_y         0
hot_tub;pool    0
dtype: int64

In [86]:
mergedf.isna().sum()

unified_id      0
month_x         0
zipcode         0
city            0
host_type       0
bedrooms        0
bathrooms       0
guests          0
revenue         0
openness        0
occupancy       0
nightly_rate    0
lead_time       0
length_stay     0
month_y         0
hot_tub;pool    0
dtype: int64

In [87]:
# mergedf.to_csv("mergedfdata.csv")

In [88]:
mergedf.columns

Index(['unified_id', 'month_x', 'zipcode', 'city', 'host_type', 'bedrooms',
       'bathrooms', 'guests', 'revenue', 'openness', 'occupancy',
       'nightly_rate', 'lead_time', 'length_stay', 'month_y', 'hot_tub;pool'],
      dtype='object')

In [89]:
mergedf.nunique()

unified_id       2126
month_x            36
zipcode             4
city                4
host_type           3
bedrooms            3
bathrooms          12
guests             13
revenue         16990
openness           31
occupancy         302
nightly_rate    28569
lead_time        5869
length_stay       894
month_y            36
hot_tub;pool        2
dtype: int64

In [90]:
mergedf.drop(labels=["month_y","lead_time"],axis=1,inplace=True)

In [91]:
from scipy.stats import norm
import numpy as np
import matplotlib.pyplot as plt

In [92]:
mergedf.dtypes

unified_id      object
month_x         object
zipcode         object
city            object
host_type       object
bedrooms        object
bathrooms       object
guests          object
revenue         object
openness        object
occupancy        int32
nightly_rate    object
length_stay     object
hot_tub;pool    object
dtype: object

In [93]:
# mergedf["revenue"].astype(int)

OverflowError: Python int too large to convert to C long

In [ ]:
# mergedf["revenue"] = mergedf["revenue"].astype(float)

In [ ]:
mergedf["revenue"].dtype

In [ ]:
# mergedf["revenue"].astype(int)

In [ ]:
# mergedf["revenue"].mean()

In [130]:
dfdata=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\mergedfdata1.csv")

C:\Users\aviji\AppData\Local\Temp\ipykernel_10372\1102607098.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  dfdata=pd.read_csv(r"D:\Pyn\MSDSM\Semester_2\dm\Assignment\archive_2\mergedfdata1.csv")

In [131]:
dfdata

,Unnamed: 0,unified_id,month_x,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,length_stay,hot_tub;pool
0,174842,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
1,174843,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
2,174844,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
3,174845,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
4,174846,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318582,1048520,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1
318583,1048521,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1
318584,1048522,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1
318585,1048523,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1
318586,1048524,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1

In [132]:
dfdata.drop("Unnamed: 0",axis=1,inplace=True)

In [133]:
dfdata

,unified_id,month_x,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,length_stay,hot_tub;pool
0,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
1,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
2,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
3,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
4,16428200,2020-6,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318582,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1
318583,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1
318584,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1
318585,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1
318586,34315354,2022-12,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1

In [134]:
dfdata["Year"]=dfdata["month_x"].str.split("-").str[0]
dfdata["Month"]=dfdata["month_x"].str.split("-").str[1]

In [135]:
dfdata.drop("month_x",axis=1,inplace=True)

In [136]:
dfdata["Min_length_stay"]=dfdata["length_stay"].str.split(",").str[0]
dfdata["Max_length_stay"]=dfdata["length_stay"].str.split(",").str[-1]

In [137]:
dfdata

,unified_id,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,length_stay,hot_tub;pool,Year,Month,Min_length_stay,Max_length_stay
0,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1,2020,6,4,8
1,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1,2020,6,4,8
2,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1,2020,6,4,8
3,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1,2020,6,4,8
4,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,"4,8",1,2020,6,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318582,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1,2022,12,NaN,NaN
318583,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1,2022,12,NaN,NaN
318584,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1,2022,12,NaN,NaN
318585,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1,2022,12,NaN,NaN
318586,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,NaN,1,2022,12,NaN,NaN

In [138]:
dfdata.drop("length_stay",axis=1,inplace=True)

In [139]:
dfdata["Max_length_stay"].isna().sum()

188293

In [140]:
dfdata.isna().sum()

unified_id              0
zipcode                 0
city                    0
host_type               0
bedrooms                0
bathrooms               0
guests                  0
revenue                46
openness                0
occupancy               0
hot_tub;pool            0
Year                    0
Month                   0
Min_length_stay    188293
Max_length_stay    188293
dtype: int64

In [141]:
dfdata.drop("Max_length_stay",axis=1,inplace=True)

In [142]:
dfdata.isna().sum()

unified_id              0
zipcode                 0
city                    0
host_type               0
bedrooms                0
bathrooms               0
guests                  0
revenue                46
openness                0
occupancy               0
hot_tub;pool            0
Year                    0
Month                   0
Min_length_stay    188293
dtype: int64

In [143]:
dfdata[dfdata["revenue"].isna()==True]

,unified_id,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,hot_tub;pool,Year,Month,Min_length_stay
191586,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191587,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191588,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191589,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191590,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191591,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191592,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191593,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191594,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191595,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191596,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191597,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191598,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191599,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191600,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191601,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191602,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191603,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191604,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191605,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191606,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191607,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191608,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191609,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191610,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191611,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191612,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191613,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191614,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191615,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191616,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191617,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191618,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191619,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191620,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191621,10178668,92315,Big Bear Lake,Professionals,3,2.5,7,NaN,4,1,0,2020,7,NaN
191622,21836501,92315,Big Bear Lake,Professionals,3,2.0,4,NaN,13,1,0,2020,7,NaN
191623,21836501,92315,Big Bear Lake,Professionals,3,2.0,4,NaN,13,1,0,2020,7,NaN
191624,21836501,92315,Big Bear Lake,Professionals,3,2.0,4,NaN,13,1,0,2020,7,NaN
191625,21836501,92315,Big Bear Lake,Professionals,3,2.0,4,NaN,13,1,0,2020,7,NaN
191626,21836501,92315,Big Bear Lake,Professionals,3,2.0,4,NaN,13,1,0,2020,7,NaN
191627,22119231,92315,Big Bear Lake,Professionals,4,5.5,10,NaN,1,1,1,2020,8,NaN
191628,22119231,92315,Big Bear Lake,Professionals,4,5.5,10,NaN,1,1,1,2020,8,NaN
191629,22119231,92315,Big Bear Lake,Professionals,4,5.5,10,NaN,1,1,1,2020,8,NaN
191630,22119231,92315,Big Bear Lake,Professionals,4,5.5,10,NaN,1,1,1,2020,8,NaN
191631,22119231,92315,Big Bear Lake,Professionals,4,5.5,10,NaN,1,1,1,2020,8,NaN

In [144]:
# dfdata.fillna(0,inplace=True)

In [145]:
dfdata

,unified_id,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,hot_tub;pool,Year,Month,Min_length_stay
0,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
1,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
2,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
3,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
4,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318582,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,1,2022,12,NaN
318583,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,1,2022,12,NaN
318584,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,1,2022,12,NaN
318585,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,1,2022,12,NaN
318586,34315354,92252,Joshua Tree,2-5 Units,3,2.0,8,0.0,31,0,1,2022,12,NaN

In [147]:
dfdata.isna().sum()

unified_id              0
zipcode                 0
city                    0
host_type               0
bedrooms                0
bathrooms               0
guests                  0
revenue                46
openness                0
occupancy               0
hot_tub;pool            0
Year                    0
Month                   0
Min_length_stay    188293
dtype: int64

In [148]:
dfdata.dropna(axis=0,inplace=True)

In [149]:
dfdata

,unified_id,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,hot_tub;pool,Year,Month,Min_length_stay
0,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
1,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
2,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
3,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
4,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131067,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131068,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131069,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131070,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131071,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16

In [150]:
dfdata.shape

(130294, 14)

In [151]:
dfdata.to_csv("dfdata_new.csv")

In [152]:
dfdata

,unified_id,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,hot_tub;pool,Year,Month,Min_length_stay
0,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
1,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
2,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
3,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
4,16428200,92314,Big Bear City,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131067,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131068,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131069,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131070,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131071,12873603,92315,Big Bear Lake,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16

In [169]:
dfdata.columns

Index(['unified_id', 'zipcode', 'city', 'host_type', 'bedrooms', 'bathrooms',
       'guests', 'revenue', 'openness', 'occupancy', 'hot_tub;pool', 'Year',
       'Month', 'Min_length_stay'],
      dtype='object')

In [155]:
dfdata["city"].value_counts()

city
Big Bear Lake    73262
Big Bear City    24329
Joshua Tree      20803
Yucca Valley     11900
Name: count, dtype: int64

In [157]:
State_map = {"Big Bear Lake":1,"Big Bear City":2 ,"Joshua Tree":3 ,"Yucca Valley":4 }

In [158]:
dfdata["city"]=dfdata["city"].map(State_map)

In [159]:
dfdata

,unified_id,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,hot_tub;pool,Year,Month,Min_length_stay
0,16428200,92314,2,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
1,16428200,92314,2,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
2,16428200,92314,2,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
3,16428200,92314,2,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
4,16428200,92314,2,2-5 Units,4,4.0,13,7200.0,25,96,1,2020,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131067,12873603,92315,1,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131068,12873603,92315,1,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131069,12873603,92315,1,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131070,12873603,92315,1,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16
131071,12873603,92315,1,Single Owners,3,2.0,8,11885.0,31,1,1,2021,1,16

In [156]:
dfdata["host_type"].value_counts()

host_type
Professionals    61586
Single Owners    36210
2-5 Units        32498
Name: count, dtype: int64

In [160]:
State_map = {"Professionals":1,"Single Owners":2 ,"2-5 Units":3 }
dfdata["host_type"]=dfdata["host_type"].map(State_map)

In [161]:
dfdata

,unified_id,zipcode,city,host_type,bedrooms,bathrooms,guests,revenue,openness,occupancy,hot_tub;pool,Year,Month,Min_length_stay
0,16428200,92314,2,3,4,4.0,13,7200.0,25,96,1,2020,6,4
1,16428200,92314,2,3,4,4.0,13,7200.0,25,96,1,2020,6,4
2,16428200,92314,2,3,4,4.0,13,7200.0,25,96,1,2020,6,4
3,16428200,92314,2,3,4,4.0,13,7200.0,25,96,1,2020,6,4
4,16428200,92314,2,3,4,4.0,13,7200.0,25,96,1,2020,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131067,12873603,92315,1,2,3,2.0,8,11885.0,31,1,1,2021,1,16
131068,12873603,92315,1,2,3,2.0,8,11885.0,31,1,1,2021,1,16
131069,12873603,92315,1,2,3,2.0,8,11885.0,31,1,1,2021,1,16
131070,12873603,92315,1,2,3,2.0,8,11885.0,31,1,1,2021,1,16
131071,12873603,92315,1,2,3,2.0,8,11885.0,31,1,1,2021,1,16

In [162]:
x= dfdata.drop(columns=['city','host_type','guests'])

In [171]:
x.dtypes

unified_id           int64
zipcode              int64
bedrooms             int64
bathrooms          float64
revenue            float64
openness             int64
occupancy            int64
hot_tub;pool         int64
Year                object
Month               object
Min_length_stay     object
dtype: object

In [167]:
x

,unified_id,zipcode,bedrooms,bathrooms,revenue,openness,occupancy,hot_tub;pool,Year,Month,Min_length_stay
0,16428200,92314,4,4.0,7200.0,25,96,1,2020,6,4
1,16428200,92314,4,4.0,7200.0,25,96,1,2020,6,4
2,16428200,92314,4,4.0,7200.0,25,96,1,2020,6,4
3,16428200,92314,4,4.0,7200.0,25,96,1,2020,6,4
4,16428200,92314,4,4.0,7200.0,25,96,1,2020,6,4
...,...,...,...,...,...,...,...,...,...,...,...
131067,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16
131068,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16
131069,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16
131070,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16
131071,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16

In [177]:
for i in x.columns[x.dtypes=="object"]:
    x[i]=x[i].astype(int)

In [178]:
x.dtypes

unified_id           int64
zipcode              int64
bedrooms             int64
bathrooms          float64
revenue            float64
openness             int64
occupancy            int64
hot_tub;pool         int64
Year                 int32
Month                int32
Min_length_stay      int32
dtype: object

In [179]:
def detect_outliers_zscore(data):
    z_scores = np.abs((data - data.mean()) / data.std())
    return z_scores > 3  # Threshold for outliers

In [180]:
outliers_zscore = detect_outliers_zscore(x)
cleaned_data = x[~outliers_zscore.any(axis=1)]

In [181]:
cleaned_data

,unified_id,zipcode,bedrooms,bathrooms,revenue,openness,occupancy,hot_tub;pool,Year,Month,Min_length_stay
6607,15958885,92315,3,1.5,2038.0,25,56,1,2020,3,3
6608,15958885,92315,3,1.5,2038.0,25,56,1,2020,3,3
6609,15958885,92315,3,1.5,2038.0,25,56,1,2020,3,3
6610,15958885,92315,3,1.5,2038.0,25,56,1,2020,3,3
6611,15958885,92315,3,1.5,2038.0,25,56,1,2020,3,3
...,...,...,...,...,...,...,...,...,...,...,...
131067,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16
131068,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16
131069,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16
131070,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16
131071,12873603,92315,3,2.0,11885.0,31,1,1,2021,1,16

In [182]:
# cleaned_data.to_csv("cleaned_data.csv")

In [ ]:
from sklearn.cluster import DBSCAN
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans

In [ ]:
eps = np.random.rand(10) * 0.15

# m.fit(X)

# preds = m.labels_

epsilons = 0.05 + np.random.rand(5) * 0.10
min_samples_list = np.random.randint(3, 25, size=len(eps))

fig, ax = plt.subplots(5, 5, figsize=(20, 20))

ax = ax.flat

for epsilon in epsilons:
  for min_samples in min_samples_list:
    m = DBSCAN(eps=epsilon, min_samples=min_samples)
    m.fit(X)
    preds = m.labels_
    axis = next(ax)
    axis.scatter(X[:,0], X[:,1], c=preds)
    axis.set_title(f'{epsilon}, {min_samples}')